page-listado {
    overflow-y: scroll;
    .element{
        display: flex;
        flex-direction: row;
    }
    ion-card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
img{
    max-height: 150px;
    max-width: 150px;
    padding:5px;
}
.texto-row{
display: flex;
justify-content: left;
margin-left: 5%;
align-items: center;
}
.texto-p{
    font-size: 1.5em;
    font-weight: 500;
    
}

}
