<!--
  Generated template for the ListadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <div *ngIf="!bool_empty" class="list">

    <ion-list>

        <ion-card  *ngFor="let item of list ; let index=index">
          <div class="element">
              <img [src]="item.image">
              <ion-card-content>
              
                <h1>{{item.name}}</h1>
                <h2>{{item.adress}}</h2>
              </ion-card-content>
          </div>

          <ion-row class="texto-row"> 
            <p class="texto-p"> {{item.texto}} </p>
          </ion-row>
        
          <ion-row>
            <ion-col>
              <a  href="tel: {{item.phone}}"><button ion-button icon-left clear large >
                  <ion-icon name="phone-portrait"></ion-icon>
                  <div>Llamar</div>
                </button></a>
            </ion-col>
            <ion-col>
                <a  href="{{item.web}}">  <button ion-button icon-left clear large>
                <ion-icon name="at"></ion-icon>
                <div>Web</div>
              </button>
                </a>
            </ion-col>
          
          </ion-row>
        
        
        </ion-card>
      </ion-list>
  
  </div>
  <div *ngIf="bool_empty">
    <ion-card>
        <h1>De momento no hay gremio para {{title}}</h1>
    </ion-card>
   
  </div>
</ion-content>
