.c-header {
    width: 100vw;
    height: 100px;
    position: absolute;
    z-index: 20;
    background-color: white;
    &__container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: #009688;
        border-radius: 0px 0px 50% 50%;
        &__text {
            font-size: 1.5rem;
            font-weight: 600;
            color: white;
        }
    }
}