.c-login {
    background-color: teal;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

        &__card {
            &__box
             {
                    margin-top: 10px;
                    background-color: rgb(148, 219, 219);
                    height: 40px;
                    padding-left: 15px;
                    text-align: left;
                    color: black;
                    border-radius: 20px;
                    font-size: 1em;
                    font-weight: 500;
            }
            &__btn {
                margin-top: 20px;
                background-color: #114e8e;
            } 
            &__btnback {
                margin-top: 20px;
                background-color: white;
                color: teal;
                border: solid 1px teal;
            } 
        }
    }

}