<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <components-header></components-header>
<components-footer></components-footer> -->
<ion-header>

  <ion-navbar>
    <ion-title>Conectarse</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="c-login">
  <div class="c-login__container">
    <ion-card class="c-login__container__card" *ngIf="!isCodeRequested" >
      <ion-card-content>
        <ion-card-title>
          <p class="blue-txt"> INTRODUZCA CODIGO DE SU COMUNIDAD Y EMAIL </p>
        </ion-card-title>
        <div class="blue-bg linea-blue">
        </div>
        <form [formGroup]="loginForm">
          <div class="c-login__container__card__box">
            <ion-input type="text" 
            formControlName="code"
             placeholder="Codigo comunidad">
            </ion-input>
          </div>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.code">
                <p  style="display:block;float: none; width: 100%; color: red;" 
                class="error-message" *ngIf="loginForm.get('code').hasError(validation.type) 
                && (loginForm.get('code').dirty || loginForm.get('code').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </p>
              </ng-container>
            </div>
          <div class="c-login__container__card__box">
            <ion-input type="email"
            formControlName="email"
            placeholder="Email">
            </ion-input>
          </div>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.email">
                <p  style="display:block;float: none; width: 100%; color: red;" 
                class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) 
                && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </p>
              </ng-container>
            </div>
          <button 
          class="c-login__container__card__btn" 
          ion-button full 
          [disabled]="!loginForm.valid"
          (click)="requestCode()">Pedir codigo de accesso</button>
          <button 
          class="c-login__container__card__btnback" 
          ion-button full  
          (click)="volver()">Volver</button>
          <div class="validation-errors" *ngIf="requestErrorEmail">
              <p  style="display:block;float: none; width: 100%; color: red;" 
              class="error-message" > {{ errorCodeEmailMessage }}
            </p>
          </div>
        </form>

      </ion-card-content>
    </ion-card>

    <!-- CODE BLOCK -->

    <ion-card class="c-login__container__card" *ngIf="isCodeRequested">
      <ion-card-content>
        <ion-card-title>
          <p class="blue-txt"> INTRODUZCA EL CODIGO QUE TE HEMOS ENVIADO POR EMAIL </p>
        </ion-card-title>
        <div class="blue-bg linea-blue">
        </div>
        <form [formGroup]="codeForm">
          <div class="c-login__container__card__box">
            <ion-input type="text" 
            formControlName="code"
             placeholder="Codigo de acceso">
            </ion-input>
          </div>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.code">
                <p  style="display:block;float: none; width: 100%; color: red;" 
                class="error-message" *ngIf="codeForm.get('code').hasError(validation.type) 
                && (codeForm.get('code').dirty || codeForm.get('code').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </p>
              </ng-container>
            </div>
         
          <button 
          class="c-login__container__card__btn" 
          ion-button full 
          [disabled]="!codeForm.valid"
          (click)="doLogin()">Hacer login</button>
          <div class="validation-errors" *ngIf="requestErrorCode">
              <p  style="display:block;float: none; width: 100%; color: red;" 
              class="error-message" > {{ errorCodeMessage }}
            </p>
          </div>
        </form>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>