<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Noticias</ion-title>
    <div
      class="christmas-emojis"
      *ngIf="comunidad && comunidad.christmasActive && userChristmasActive"
    >
      🤶
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="c-noticia">
  <div class="c-noticia__inactive" *ngIf="!active">
    <img [src]="infoIcon" />
    <p>
      La gestión de noticias está inabilitada en tu comunidad, contacta con tu
      administrador/a para más informaciones
    </p>
  </div>
  <div
    class="c-noticia__active"
    [ngSwitch]="list"
    scrollY="true"
    *ngIf="active"
  >
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."
      >
      </ion-refresher-content>
    </ion-refresher>
    <br />

    <div class="c-noticia__list" *ngIf="bool_empty">
      <div id="content-noticia">
        <ion-card class="c-noticia__card" *ngFor="let noticia of Noticias">
          <ion-card-content
            class="chat-item item-remove-animate item-avatar item-icon-right"
          >
            <ion-card-title>
              <div class="block">
                <p class="c-noticia__card__title" id="title">
                  {{noticia.title}}
                </p>
                <p class="c-noticia__card__created" id="create">
                  {{noticia.create}}
                </p>
              </div>
            </ion-card-title>

            <div *ngIf="noticia.description">
              <div *ngIf="noticia.description.length <= limit">
                {{noticia.description}}
              </div>
              <div
                class="group-truncate"
                *ngIf="!noticia.truncating && noticia.description.length > limit"
              >
                {{noticia.description | truncate }}
                <p class="btn-truncate" (click)="noticia.truncating = true">
                  mostrar más...
                </p>
              </div>
              <div
                class="group-truncate"
                *ngIf="noticia.truncating && noticia.description.length > limit"
              >
                {{noticia.description}}
                <p class="btn-truncate" (click)="noticia.truncating = false">
                  ...mostrar menos
                </p>
              </div>
            </div>

            <a
              id="archivo"
              *ngIf="noticia.image!=undefined && noticia.image!=''"
              href="{{noticia.image}}"
              ion-button
              secondary
            >
              Archivo adjunto
            </a>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="c-noticia__empty" *ngIf="!bool_empty">
      <p>No hay noticias recientes</p>
    </div>
  </div>
</ion-content>
