
.c-noticia{
  background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
  height: 1920px;
  .scroll-content{
    background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
  }
  &__empty {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   

    p {
      font-size: 1.5rem;
      color: white;
      border: 1px solid white;
      padding: 20px 40px;
    }
  }
  &__active {

  }
  &__inactive {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      img {
          height: 100px;
      }
      p {
          font-size: 1.6rem;
          text-align: center;
          color: black;
      }
  }
  &__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-y: scroll;
  }
  &__card{
      padding: 10px;
      margin: 15px;
      width: 90%;
      border-radius: 10px;
      box-shadow: 0px 2px 2px 2px teal;

      &__title{
        width: 50%;
        font-size: 0.8em;
        font-weight: 400;
        color:black;
      }
      &__created{
        width: 50%;
        text-align: right;
        color: #0dc386;
        font-size: 0.7em;
      }
  }

  &__block{
      display: flex;
  flex-direction: column;
  align-items: center;
  }
 
  &__description{
      width: 80%;
      border-radius: 10px;
      border: 0px;
      background: white;
      &__area{
          border-radius: 10px;
          border: 0px;
      }
  }
}
noticias-page{

  
  #content-noticia{
    height: 1920px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
        
    .chat-item.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

h2{
  display:flex;
  justify-content: center;
}

#archivo{
  font-size: 1em;
}

.group-truncate{
  display: flex;
  flex-direction: column;
  
}
.btn-truncate{
  width: 45%;
  font-size: 1.1em;
  color:teal;
  font-weight: 600;
  margin-top: 10px;
}


.block{
  display: flex;
  flex-direction: row;
}

#create{
  width: 50%;
  text-align: right;
  color: #0dc386;
  font-size: 0.7em;
}
#title{
  width: 50%;
  font-size: 0.8em;
  font-weight: 400;
  color:black;
}

}

.ion-refresher{
  background-color: none;
}
