.c-local {
    &__container {
        height: 100vh;
        margin-top: 120px;

        &__list {
            &__card {
                border: 1px solid teal;
            }

            &__row {
                &__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 5px 0px;

                    &__label {
                        font-size: 1.6rem !important;
                        color: black !important;
                        font-weight: 600;
                        margin-right: 10px;
                    }

                    &__value {
                        font-size: 1.6rem;
                        color: darkgray;
                        font-weight: 600;
                        margin-left: 10px;
                    }

                    &__btn {
                        margin: 25px 10px;
                        width: 100%;
                    }
                }
            }
        }

        &__empty {
            border: 1px solid grey;
            padding: 5px;
            margin: 5px;
            text-align: center;
            font-size: 1.5rem;
        }

        &__selection {
            border: 1px solid teal;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__date {
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
            }

            &__btn {
                width: fit-content;
            }
        }
    }
}

.label-reserva {
    color: teal !important;
    display: flex;
    font-size: 1.8rem !important;
    justify-content: center;
    margin-bottom: 15px !important;
}

page-local {
    #content-nueva {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #content-mis {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    overflow-y: scroll;

    .message {
        color: red;
        padding: 20px;
        text-align: center;
    }
}


.active {
    color: green !important;
}

.inactive {
    color: red !important;
}

.caducado {
    color: #821082 !important;
}