<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reserva de local</ion-title>
  </ion-navbar>
  <ion-segment
    (ionChange)="onTabsChange()"
    [(ngModel)]="list"
    padding
    *ngIf="!paymentDto"
  >
    <ion-segment-button value="nueva-res"> Nueva reserva </ion-segment-button>
    <ion-segment-button value="mis-res"> Reservas activas </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <app-payment
    *ngIf="paymentDto"
    [payment]="paymentDto"
    (result)="onPaymentResult($event)"
  ></app-payment>
  <div class="c-local">
    <div [ngSwitch]="list">
      <ion-list *ngSwitchCase="'nueva-res'">
        <div id="content-nueva">
          <ion-calendar
            *ngIf="activeCalendar"
            [(ngModel)]="date"
            [options]="optionsRange"
            [type]="type"
            [format]="'YYYY-MM-DD'"
            (onChange)="onChange($event)"
          >
          </ion-calendar>
          <div class="c-local__container__selection" *ngIf="bool_hours" padding>
            <div class="c-local__container__selection__date">
              <p class="title-text">
                Horas disponibles para el : {{dateToShow}}
              </p>
            </div>

            <ion-item>
              <ion-label>Horas</ion-label>
              <ion-select
                [(ngModel)]="selectedHours"
                (change)="show()"
                multiple="true"
                interface="action-sheet"
              >
                <ion-option *ngFor="let hour of hoursList" [value]="hour"
                  >{{hour}} h
                </ion-option>
              </ion-select>
            </ion-item>
            <button
              class="c-local__container__selection__btn button-res"
              (click)="isReservable()"
              ion-button
              padding
            >
              Verificar disponibilidad
            </button>
            <p class="i-message-red" *ngIf="comunidad && comunidad.localPay">
              Va a ser redirigido a la pagina de pago
            </p>
            <p class="i-message-red" *ngIf="comunidad && !comunidad.localPay">
              Esta reserva no tiene pago asociado
            </p>
          </div>
          <p class="message">{{message}}</p>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'mis-res'" padding>
        <div id="content-mis">
          <div *ngIf="bool_res_list">
            <ion-card
              class="c-local__container__list__card"
              *ngFor="let reserva of localReservations; let index = index"
              padding
            >
              <p class="label-reserva">reserva de local</p>
              <div class="c-local__container__list__row__item">
                <p class="c-local__container__list__row__item__label">
                  Fecha alta:
                </p>
                <p class="c-local__container__list__row__item__value">
                  {{reserva.createdAt | date: 'dd/MM/yyyy HH:mm'}}
                </p>
              </div>
              <div class="c-local__container__list__row__item">
                <p class="c-local__container__list__row__item__label">
                  Fecha reserva:
                </p>
                <p class="c-local__container__list__row__item__value">
                  {{reserva.day | date: 'dd/MM/yyyy'}}
                </p>
              </div>
              <div class="c-local__container__list__row__item">
                <p class="c-local__container__list__row__item__label">
                  Franja horaria:
                </p>
                <p class="c-local__container__list__row__item__value">
                  {{reserva.rangeTime}}
                </p>
              </div>
              <!-- <div class="c-local__container__list__row__item">
                              <p class="c-local__container__list__row__item__label">Estado:</p>
                              <p class="c-local__container__list__row__item__value" 
                              [class.active]="reserva.active === true"
                                [class.inactive]="reserva.state === 'cancelado'"
                                [class.caducado]="reserva.state === 'caducado'"
                                
                                >{{reserva.state}}</p>
                            </div> -->
            </ion-card>
          </div>
          <div class="c-local__container__empty" *ngIf="!bool_res_list">
            <p>No se han encontrado reservas de local.</p>
          </div>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
