<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Mi Comunidad</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="c-principal">
    <div class="c-principal__container">
      <div class="sidebar-profil" *ngIf="user">
        <p>Hola {{user.name}}</p>
        👋
      </div>
      <div class="c-principal__container__content">
        <ion-list>
          <button
            class="menu-item"
            menuClose
            ion-item
            *ngFor="let p of pages"
            (click)="openPage(p)"
          >
            <ion-icon name="{{p.icon}}" item-left></ion-icon>
            <div id="menu-item-text">{{p.title}}</div>
          </button>
        </ion-list>

        <div class="logout" (click)="logout()">
          <div class="logout__btn">
            <img [src]="on_off_icon" />
            <p>Cerrar sesión</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<div
  *ngIf="comunidad && comunidad.christmasActive && userChristmasActive"
  class="snowflakes"
  aria-hidden="true"
>
  <div class="snowflake">❅</div>
  <div class="snowflake snowred">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake snowred">❄</div>
  <div class="snowflake">❅</div>
  <div class="snowflake snowred">❆</div>
  <div class="snowflake">❄</div>
  <div class="snowflake snowred">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake snowred">❄</div>
</div>
<div class="christmas-animation" *ngIf="comunidad && comunidad.christmasActive">
  <button
    *ngIf="userChristmasActive && comunidad.christmasActive"
    (click)="switchChristmasAnimation(false)"
  >
    🎄 Desactivar animaciones 🎄
  </button>
  <button
    *ngIf="!userChristmasActive && comunidad.christmasActive"
    (click)="switchChristmasAnimation(true)"
  >
    🎄 Activar animaciones 🎄
  </button>
</div>
