.c-principal {
    // height: 1920px;
    background: linear-gradient(#283c86, #45a247);

    &__container {
        background: linear-gradient(#283c86, #45a247);

        &__content {
            overflow-y: auto;
            height: calc(100vh - 100px);
        }
    }
}

.menu-item {
    margin: 15px 0px;
    background: transparent;
}

ion-icon {
    color: white;
}

#menu-item-text {
    color: white;
}

page-principal {
    height: 1920px;
}

.logout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px auto;
    padding: 10px;

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 10px;
        border-radius: 10px;
        background-color: #cc695c;

        p {
            color: black;
            font-weight: 600;
            text-align: center;
        }

        img {
            margin: 4px;
            height: 30px;
        }
    }
}

.sidebar-profil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 5px 0px;

    img {
        width: 20px;
        height: 20px;
        margin: 0px 5px;
    }

    p {
        color: white;
        font-size: 15px;
        font-weight: 500;
        padding: 0;
        margin: 0;
    }
}

.snowflake {
    color: white;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px rgb(241, 239, 239);
}

.snowred {
    color: red !important;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px rgb(241, 239, 239);
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

/* Demo Purpose Only*/
.demo {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.demo a {
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.christmas-animation {
    position: absolute;
    bottom: 0px;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #ffffff59;

    button {
        font-size: 13px;
        padding: 10px 5px;
        background-color: white;
        color: red;
        border-radius: 5px;
        margin: 5px;
    }

}