<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
    <!-- <ion-buttons end>
      <button class="toolbar-button" (click)="editProfile()" ion-button icon-only>
        <ion-icon name="create-outline"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content class="c-profil" padding>
  <div id="content-profil">
    <ion-scroll scrollY="true" style="width: 100%; height: 100%">
      <div class="c-profil__container" *ngIf="perfil && comunidad">
        <!--  <img class="c-profil__image" [src]="avatarIcon" /> -->
        <ion-list class="c-profil__list" *ngIf="!edit">
          <ion-item class="c-profil__item">
            <ion-icon color="primary" name="home" item-start></ion-icon>
            <p>{{comunidad.name}}</p>
          </ion-item>

          <ion-item class="c-profil__item">
            <ion-icon color="primary" name="home" item-start></ion-icon>
            <p>{{perfil.adress}}</p>
          </ion-item>

          <ion-item class="c-profil__item">
            <ion-icon color="primary" name="person" item-start></ion-icon>
            <p>{{perfil.name}}</p>
          </ion-item>

          <ion-item class="c-profil__item">
            <ion-icon color="primary" name="call" item-start></ion-icon>
            <p>{{perfil.phone}}</p>
          </ion-item>

          <ion-item class="c-profil__item">
            <ion-icon color="primary" name="mail" item-start></ion-icon>
            <p>{{perfil.email}}</p>
          </ion-item>

          <!--           <div class="c-profil__notification" *ngIf="perfil">
                        <label for="notification">Notificaciones</label>
            <input
              type="radio"
              id="notification"
              name="notification"
              [value]="perfil.notificationActive"
              [checked]="perfil.notificationActive"
              (onchange)="notificationChange($event)"
            />

          </div> -->
          <ion-item style="margin-top: 20px">
            <ion-label>Notificaciones</ion-label>
            <ion-radio
              slot="end"
              [value]="perfil.notificationActive"
              [checked]="perfil.notificationActive"
              (ionSelect)="notificationChange($event)"
            ></ion-radio>
          </ion-item>
        </ion-list>

        <!-- PROFILE EDIT FORM -->
        <ion-list class="c-profil__list" *ngIf="edit">
          <form [formGroup]="profileForm">
            <p class="txt-white">Nombre</p>
            <div class="c-login__container__card__box">
              <ion-input
                type="text"
                formControlName="name"
                placeholder="Nombre completo"
              >
              </ion-input>
            </div>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.name">
                <p
                  style="display: block; float: none; width: 100%; color: red"
                  class="error-message"
                  *ngIf="profileForm.get('name').hasError(validation.type) 
                      && (profileForm.get('name').dirty || profileForm.get('name').touched)"
                >
                  <ion-icon name="information-circle-outline"></ion-icon> {{
                  validation.message }}
                </p>
              </ng-container>
            </div>
            <p class="txt-white">Telefono</p>
            <div class="c-login__container__card__box">
              <ion-input
                type="text"
                formControlName="phone"
                placeholder="Telefono"
              >
              </ion-input>
            </div>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.phone">
                <p
                  style="display: block; float: none; width: 100%; color: red"
                  class="error-message"
                  *ngIf="profileForm.get('phone').hasError(validation.type) 
                      && (profileForm.get('phone').dirty || profileForm.get('phone').touched)"
                >
                  <ion-icon name="information-circle-outline"></ion-icon> {{
                  validation.message }}
                </p>
              </ng-container>
            </div>
            <button
              class="c-login__container__card__btn"
              ion-button
              full
              [disabled]="!profileForm.valid"
              (click)="updateProfile()"
            >
              Actualizar perfil
            </button>
            <button
              class="c-login__container__card__btnback"
              ion-button
              full
              (click)="cancelEdit()"
            >
              Cancelar
            </button>
          </form>
        </ion-list>
      </div>
    </ion-scroll>
  </div>
</ion-content>
