.c-profil {
    background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
    height: 1920px;
    overflow-y: scroll;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            height: 150px;
            margin: 20px;
        }
    }

    &__image {
        border-radius: 60px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        overflow-y: scroll;
    }

    &__item {
        margin: 5px auto;
    }

    &__notification {
        width: 100%;
        margin: 20px 0px;
        background-color: white;
        padding: 5px 0px;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

page-perfil {
    #content-profil {
        height: 1920px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}



.txt-white {
    color: white;
}