<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedir Informacion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="c-informacion" padding>
    <div class="c-informacion__inactive" *ngIf="!active">
        <img [src]="infoIcon" />
        <p>Pedir informaciones está inabilitado en tu comunidad, 
          contacta con tu administrador/a para más información </p>
      </div>
        <div class="c-informacion__active" [ngSwitch]="list" scrollY="true" *ngIf="active">
            <div id="content-info">

                <div class="c-informacion__list">
          
                    <div class="c-informacion__block">
                        <p class="c-informacion__label"> Tipo de Informacion </p>
                        <ion-item class="c-informacion_spinner">
                          <ion-label>Tipo</ion-label>
                          <ion-select [(ngModel)]="tipo" interface="action-sheet">
                            <ion-option value="Consulta">Consulta</ion-option>
                            <ion-option value="Duda">Duda</ion-option>
                            <ion-option value="Cuentas">Cuentas</ion-option>
                            <ion-option value="Queja">Queja</ion-option>
                            <ion-option value="Otros">Otros</ion-option>
                          </ion-select>
                        </ion-item>
                    
                      </div>
                      <div class="c-informacion__block">
                        <p class="c-informacion__label"> Descripcion </p>
                        <div class="c-informacion__description">
                          <textarea class="c-informacion__description__area" [(ngModel)]="description" name="text" id="" cols="38" rows="5"> </textarea>
                        </div>
                        </div>
                         
                          <div class="c-informacion__block">
                            <button class="c-informacion__button" ion-button icon-left  (click)="checkFields()">
                              <ion-icon name="send"></ion-icon>
                              Enviar
                            </button>
                          </div>
                    
                </div>
              
            </div>
        </div>
 
</ion-content>