.c-informacion{
    background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
    height: 1920px;
    overflow-y: scroll;
    &__active {

    }
    &__inactive {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        img {
            height: 100px;
        }
        p {
            font-size: 1.6rem;
            text-align: center;
            color: black;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
    }
    &__label{
        width: 80%;
        color:white;
        position: relative;
    }
    &__block{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    &__button{
        border-radius: 15px;
        width: 80%;
        color: white;
        border: 1px solid white;
        background-color: teal;
        margin-top: 40px;
    }
    &__spinner{
        justify-content: center;
        border-radius: 15px;
        width: 80%;
    }
    &__description{
        width: 80%;
        border-radius: 10px;
        border: 0px;
        background: white;
        &__area{
            border-radius: 10px;
            border: 0px;
            width: 100%;
            margin: 0 auto;
        }
    }
}
page-informacion {
    
    
    #content-info{
        height: 1920px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
        
    }
    