page-help-ticket {
    .c-ticket-detail {
        background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);

        &__container {
            width: 100vw;
            height: 100vh;
            max-height: 98vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__header {
                width: 95%;
            }

            &__chat {
                width: 95%;
                height: calc(100vh - 300px);
                border-radius: 10px 10px 0px 0px;
                background-color: white;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__messages {
                    height: 80%;
                    width: 100%;

                    &__list {
                        width: 100%;
                        height: 100%;
                        background-color: #1847816b;
                        overflow-y: auto;
                        padding: 8px;

                        &__item {
                            color: white;
                            margin: 5px 3px;
                            font-size: 15px;
                            width: 100%;
                            border-radius: 10px;
                            display: flex;
                        }
                    }
                }

                &__actions {
                    position: absolute;
                    bottom: 5px;
                    display: flex;
                    align-items: center;
                    height: 20%;
                    &__writebox {
                        width: calc(100vw - 65px);
                        height: 95%;
                        padding-top: 8px;
                        textarea {
                            width: 95%;
                            height: 100%;
                            background-color: #00000014;
                            color: black;
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }

                    &__btnsend {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}

.error-message {
    font-size: 15px;
    color: red;
}

ion-toolbar {
    background-color: teal !important;
}

.txt-grande {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: grey !important;
}

.ic-center {
    justify-content: center !important;
}

.ic-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 10px;
    background-color: white;
}

.ic-item-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1px;
    margin: 3px 0px;
}

.ic-item-block-date {
    color: dodgerblue;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.ic-item-block-label {
    color: black;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.ic-item-block-active {
    color: green;
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.ic-item-block-inactive {
    color: red;
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.msg-user {
    width: 75%;
    padding: 5px;
    position: relative;
    margin: 0;
    background-color: #083560eb;
}

.msg-remote {
    width: 75%;
    padding: 5px;
    position: relative;
    margin: 0;
    background-color: #626364;
}

.float-left {
    justify-content: flex-start;
}

.float-right {
    justify-content: flex-end;
}

.msg-remitente {
    margin: 0;
    padding: 0;
    color: #e3a025;
}

.msg-text {
    padding: 8px;
    margin: 0;
}

.msg-date {
    padding: 0;
    margin: 0;
    text-align: end;
    font-size: 12px;
    margin-top: 10px;
    color: white;
    font-weight: 500;
}