<!--
  Generated template for the HelpTicketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalle ticket </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div class="c-ticket-detail">
  <filters-header [selectLabel]="''" [list]="false" [refresh]="true" (onRefresh)="refresh($event)"></filters-header>
<div class="c-ticket-detail__container">
  <div *ngIf="!ticket">
    <data-error></data-error>
  </div>
  <div class="c-ticket-detail__container__header ic-item" *ngIf="ticket">
    <div  class="ic-item-block ic-center">
        <p class="ic-item-block-label txt-grande">
            Ticket {{ticket.ticketReference}}
        </p>
    </div>
    <div class="ic-item-block">
      <p class="ic-item-block-active" *ngIf="!ticket.closed">
          activo
      </p>
      <p class="ic-item-block-inactive" *ngIf="ticket.closed">
          cerrado
      </p>
     
  </div>
    <div  class="ic-item-block">
        <p class="ic-item-block-label">
            Para: {{ticket.target}}
        </p>
        <p class="ic-item-block-label">
            Motivo: {{ticket.reason}}
        </p>
    </div>
    <div  class="ic-item-block">
        <p class="ic-item-block-date">
            Fecha alta: {{ticket.createdAt | date: 'dd/MM/yyyy HH:mm'}}
        </p>
    </div>
    <div  class="ic-item-block">
        <p class="ic-item-block-date">
            Ultima actualización: {{lastMessage.createdAt | date: 'dd/MM/yyyy HH:mm'}}
        </p>
    </div>
   
</div>
<div class="c-ticket-detail__container__chat">
  <div class="c-ticket-detail__container__chat__messages">
    <div #chatbox  class="c-ticket-detail__container__chat__messages__list">
      <div class="c-ticket-detail__container__chat__messages__list__item" [class.float-left]="!message.isUser" [class.float-right]="message.isUser" *ngFor="let message of ticket.messages">
        <div [class.msg-user]="message.isUser" [class.msg-remote]="!message.isUser">
         <p class="msg-remitente" *ngIf="message.isUser">{{ticket.username}}</p>
         <p class="msg-remitente" *ngIf="!message.isUser">{{ticket.target}}</p>
         <p class="msg-text">{{message.message}}</p> 
         <p class="msg-date">{{message.createdAt | date: 'dd/MM/yyyy HH:mm'}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="c-ticket-detail__container__chat__actions">
    <div class="c-ticket-detail__container__chat__actions__writebox">
      <textarea [(ngModel)]="message">
      </textarea>
    </div>
      <img class="c-ticket-detail__container__chat__actions__btnsend" [src]="sendIcon" (click)="send('USER', ticket.target, true)"/>
  </div>
</div>
</div>
</div>

</ion-content>
