<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Acerca de</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="c-about" id="content" padding>
  <ion-list class="c-about__list">
    <div class="c-about__block c-about__block__image">
      <img class="c-about__image" src="assets/imgs/info.png" />
    </div>
    <div class="c-about__block">
      <a class="c-about__block__button" [href]="politicaUrl">
        Politica de privacidad
      </a>
    </div>
    <div class="c-about__block">
      <a class="c-about__block__button" [href]="politicaUrl">
        Condiciones general de uso
      </a>
    </div>
    <div class="c-about__block">
      <ion-item class="c-about__version"> Version {{version}} </ion-item>
    </div>
  </ion-list>
</ion-content>
