page-acercade {

    ion-card {
        margin: 15px;
    }

    .imagen {
        margin: 20px;
    }

    .btn-item {
        width: 98%;
        font-size: 1em;
    }

    ion-icon {
        margin: 10px;
    }

    #content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
    }

    img {
        width: 400px;
        height: 400px;
        fill: teal;
    }

}

.c-about {
    background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
    height: 1920px;

    .scroll-content {
        //  background-image: url('assets/imgs/inc_back.jpg');
    }

    &__image {
        width: 200px;
        height: 200px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__block {
        width: 80%;
        border-radius: 15px;
        margin: 5px auto;
       
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: white;
            margin: 15px 0px;
            text-align: center;
        }
     
    }

    &__block__image {
        justify-content: center;
        display: flex;
    }

    &__button {
        border-radius: 15px;
        width: 100%;
        box-shadow: 0px 5px 5px 5px teal;

    }

    &__version {
        color: teal;
        border-radius: 50px;
        text-align: center;
        margin-top: 15px;
    }

}