<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Politica de Privacidad</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>

    
  </ion-content>