<div class="c-loadingmodal">
    <div class="c-loadingmodal__container">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
          </div>
    </div>
    </div>