<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Reserva de piscina</ion-title>
    </ion-navbar>
    <ion-segment (ionChange)="onTabsChange()" [(ngModel)]="list" padding>
      <ion-segment-button value="nueva-res">
        Nueva reserva
      </ion-segment-button>
      <ion-segment-button value="mis-res">
        Historico res.
      </ion-segment-button>
    </ion-segment>
  </ion-header>
  <div class="c-pool">
    <ion-content>
      <div class="c-pool__container">
        <div [ngSwitch]="list">
          <ion-list class="c-pool__container__list" *ngSwitchCase="'nueva-res'">
            <ion-calendar [(ngModel)]="date" [options]="optionsRange" [type]="type" [format]="'YYYY-MM-DD'"
              (onChange)="onChange($event)">
            </ion-calendar>
            <div class="c-pool__container__selection" *ngIf="bool_hours" padding>
                <div class="c-pool__container__selection__date">
                    <p class="title-text"> Disponibilidades para el : {{date}} </p>
                </div>
            
              <ion-item>
                <ion-label>Hora - Aforo</ion-label>
                <ion-select 
                #hourSSelect
                [(ngModel)]="hour_selected" 
                multiple="false" 
                interface="action-sheet"
                (ionChange)="onHourSelected(hourSSelect.value)"
                >
                  <ion-option *ngFor="let item of hoursList" [value]="item.hour">
                    <p>{{item.hour}}h</p> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p>{{item.persons}} /{{comunidad.piscinaLimit}} pers.</p>
                  </ion-option>
                </ion-select>
              </ion-item>
              <ion-item class="c-pool__container__input" *ngIf="tempSelectedHour">
                  <ion-label>Numero pers.</ion-label>
                  <ion-select [(ngModel)]="numberPersons" multiple="false" interface="action-sheet">
                      <ion-option  *ngFor="let numb of listNumberPersons" [value]="numb">{{numb}} pers.
                      </ion-option>
                    </ion-select>
              <!-- <ion-label>Numero personas</ion-label>
                  <ion-input placeholder="Numero personas" type="number" [(ngModel)]="numberPersons"></ion-input> -->
              </ion-item>
              <button class="button-res c-pool__container__list__row__item__btn " 
              (click)="isReservable()" 
              ion-button
                  padding>
                Reservar
              </button>
            </div>
            <div *ngIf="!bool_hours  && bool_list_fetch">
              <p>
                No hay datos disponible, pro favor vuelve a probar más tarde
              </p>
            </div>
  
          </ion-list>
  
          <ion-list class="c-pool__container__list"  *ngSwitchCase="'mis-res'" padding>
            <div *ngIf="bool_res_list">
              <ion-card class="c-pool__container__list__card" *ngFor="let reserva of reservationList; let index = index"
                padding>
                <p class="label-reserva">reserva piscina</p>
                <div class="c-pool__container__list__row__item">
                  <p class="c-pool__container__list__row__item__label">Fecha alta:</p>
                  <p class="c-pool__container__list__row__item__value">{{reserva.createdAt | date: 'dd/MM/yyyy HH:mm'}}
                  </p>
                </div>
                <div class="c-pool__container__list__row__item">
                  <p class="c-pool__container__list__row__item__label">Fecha reserva:</p>
                  <p class="c-pool__container__list__row__item__value">{{reserva.day | date: 'dd/MM/yyyy'}}</p>
                </div>
                <div class="c-pool__container__list__row__item">
                  <p class="c-pool__container__list__row__item__label">Franja horaria:</p>
                  <p class="c-pool__container__list__row__item__value">{{reserva.rangeTime}}</p>
                </div>
                <div class="c-pool__container__list__row__item">
                    <p class="c-pool__container__list__row__item__label">Numero personas:</p>
                    <p class="c-pool__container__list__row__item__value">{{reserva.persons}} pers.</p>
                  </div>
                <div class="c-pool__container__list__row__item">
                  <p class="c-pool__container__list__row__item__label">Estado:</p>
                  <p class="c-pool__container__list__row__item__value" 
                    [class.active]="reserva.active === true"
                    [class.inactive]="reserva.state === 'cancelado'"
                    [class.caducado]="reserva.state === 'caducado'"
                    >{{reserva.state}}</p>
                </div>
                <button 
                *ngIf="reserva.active"
                class="btn-res-list c-pool__container__list__row__item__btn" 
                (click)="anularReserva(index)"
                  ion-button full padding>
                  Cancelar
                </button>
              </ion-card>
            </div>
            <div class="c-pool__container__empty" *ngIf="!bool_res_list">
                <p >No se han encontrado reservas de piscina.</p>
            </div>
  
          </ion-list>
        </div>
  
      </div>
    </ion-content>
  </div>