page-local-resume {

    #content-resume{
        height: 1920px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .btn.back{
        color: white;
    }
    .c-local-resume{
        border: 1px solid grey;
        border-radius: 10px;
        padding: 10px;
        overflow-y: scroll;
        &__status{
            font-size: 2rem;
            font-style: bold;
            font-weight: 600;
            text-align: center;
            margin: 5px;
        }
        &__comunity{
            font-size: 1.8rem;
            font-weight: 500;
            font-style: bold;
            text-align: center; 
            margin-top: 10px;
        }
        &__adress{
            font-size: 1.8rem;
            font-weight: 500;
            font-style: bold;
            text-align: center;
            margin-top: 10px;
        }
        &__day{
            display: flex;
            align-items: center;

            &__date{
                height: 35px;
            }
            &__txt{
                margin: 0px 0px 0px 5px;
                font-size: 2rem;
                font-style: bold;
                font-weight: 600;
            }
        }
        &__name{
            display: flex;
            justify-content: space-evenly;
            font-size: 1.8rem;
            font-style: bold;
        }
        &__hour{
        width: 100%;
        display: flex;
        margin-top: 10px;
        align-items: center;
        &__txt{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;
            font-style: bold;
            font-weight: 600;
            margin: 0px 20px 0px 5px;
        }
        &__img{
            height: 60px;
            width: 30px;
        }
        &__clock{
            height: 35px;
        }
        }
    }
}
