<!--
  Generated template for the LocalResumePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Reserva de Local</ion-title>
        <ion-buttons start>
            <button ion-button (click)="back()">
              <ion-icon class="btn-back" name="arrow-back"></ion-icon>back
            </button>
          </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div id="content-resume">
            <div class="c-local-resume">
                    <div class="c-local-resume__status">
                        PAGADO
                    </div>
            
                    <div class="c-local-resume__comunity">
                        {{reserva.comunity}}
                    </div>
                    <div class="c-local-resume__adress">
                        {{reserva.adress}}
                    </div>
                    <div class="c-local-resume__name">
                        <p> {{reserva.lastname}}</p>
                        <p>{{reserva.name}}</p>
                    </div>
                    <div class="c-local-resume__hour">
                        <img class="c-local-resume__hour__clock" src="assets/icon/horloge.png">
                        <div class="c-local-resume__hour__txt">
                            <p>{{reserva.start}}h00 </p>
                            <p>-</p>
                            <p>{{reserva.end}}h00</p>
                        </div>
            
                        <div class="c-local-resume__day">
                            <img class="c-local-resume__day__date" src="assets/icon/date.png">
                            <p class="c-local-resume__day__txt"> {{reserva.day}}</p>
                        </div>
            
                    </div>
                </div>
            
    </div>
    
</ion-content>