<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div
      *ngIf="comunidad && comunidad.christmasActive && userChristmasActive"
      class="christmas-emojis"
    >
      ☃️
    </div>
    <ion-buttons end>
      <button
        class="toolbar-button"
        (click)="goToNoticiasPage()"
        *ngIf="comunidad"
        ion-button
        icon-only
      >
        <ion-icon class="tele" name="paper" end></ion-icon>
      </button>

      <a href="tel: {{comunidad.admin_phone}}" *ngIf="comunidad"
        ><button class="toolbar-button" ion-button icon-only>
          <ion-icon class="fono" name="call" end></ion-icon></button
      ></a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="c-home" padding>
  <ion-scroll
    class="c-home__container"
    scrollY="true"
    style="width: 100%; height: 100%"
  >
    <div class="c-home__com" *ngIf="comunidad">
      <p class="c-home__com__label" id="comunidad-label">
        COMUNIDAD DE PROPIETARIOS
      </p>
      <p class="c-home__com__name">{{comunidad.name}}</p>
    </div>

    <div class="c-home__container__view">
      <ion-card class="c-home__card" *ngIf="comunidad">
        <img *ngIf="comunidad.com_image" [src]="comunidad.com_image" />
        <img
          *ngIf="!comunidad.com_image || (comunidad.com_image === '')"
          [src]="buildingIcon"
        />
        <ion-card-content>
          <ion-card-title> {{comunidad.admin_name}} </ion-card-title>
          <p>
            {{comunidad.admin_adress}}<br />
            T: {{comunidad.admin_phone}}
          </p>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="c-home__container__view">
      <div *ngIf="mostrarPiscina">
        <ion-card class="c-home__cardpiscina" (click)="openReservaPiscina()">
          <p>Reservar piscina</p>
          <ion-icon name="reader-outline"></ion-icon>
        </ion-card>
      </div>
      <div *ngIf="mostrarSolarium">
        <ion-card class="c-home__cardpiscina" (click)="openReservaSolarium()">
          <p>Reservar solarium</p>
          <ion-icon name="reader-outline"></ion-icon>
        </ion-card>
      </div>
      <div class="c-home__block" *ngIf="mostrarSolarium || mostrarPiscina">
        <a class="c-home__block__button" [href]="tutoReservaUrl">
          Ver tutorial como reservar
        </a>
      </div>
    </div>

    <div class="c-home__container__view" *ngIf="!comunidad">
      <div class="c-home__com">
        <p class="c-home__com_label" id="comunidad-label">
          COMUNIDAD DE PROPIETARIOS
        </p>
        <p class="c-home__com_name"></p>
      </div>
      <ion-card class="c-home__card">
        <img [src]="buildingIcon" />
        <ion-card-content>
          <ion-card-title class="txt-center">
            BIENVENIDO EN ICOMUNITY
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-scroll>
</ion-content>
