.c-home {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

    /*     margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top); */
    &__com {
        border: 1px solid white;
        border-radius: 10px;
        padding: 5px;
        margin: 10px !important;

        &__label {
            font-size: 20px;
            color: white;
            text-align: center;
            padding: 0;
            margin: 5px;
        }

        &__name {
            font-size: 20px;
            color: white;
            text-align: center;
            padding: 0;
            margin: 5px;
        }
    }

    &__block {
        width: 80%;
        border-radius: 15px;
        margin: 0 !important;

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: white;
            margin: 20px 0px;
            text-align: center;
        }
    }

    &__container {
        background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);

        &__view {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 5px;
            margin-top: 5px;
        }
    }

    &__card {
        border-radius: 15px;
        box-shadow: 0px 5px 5px 5px teal;
        margin: 0 !important;
        margin-top: 10px !important;
    }

    &__cardpiscina {
        box-shadow: 0px 5px 5px 5px teal;
        border-radius: 5px;
        background-color: #244f5d;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
        margin-top: 10px !important;
        width: 350px;

        p {
            font-size: 2rem;
            padding: 10px;
            color: white;
        }
    }

    &__com_label {
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        margin: 0;
    }

    &__com_name {
        font-size: 1.6em;
        font-weight: 500;
        color: white;
        text-align: center;
        margin: 0;
    }
}

page-home {
    .scroll-content {
        padding: 0 !important;
    }

    .buttonLeerMas {
        margin-left: 50%;
    }

    .created_at {
        color: green;
        font-size: 1 rem;
    }

    h1 {
        margin-left: 36%;
    }

    h3 {
        display: block;
        text-align: center;
    }

    .bottom-content {
        height: 50%;
    }

    .toolbar-button {
        margin-left: 15px;
        margin-right: 15px;
    }

    ion-app.cameraView,
    ion-app.cameraView ion-content,
    ion-app.cameraView .nav-decor {
        background: white !important;
    }
}

.txt-center {
    text-align: center;
}