.c-nodata {
    width: 100%;
    height: 100%;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: 200px;
        width: 100%;
        padding: 10px;
        color: white;

        img {
            width: 60px;
            height: 60px;
            border-radius: 20px;
            margin: 15px;
        }

        p {
            font-size: 15px;
            color: grey;
            text-align: center;
        }
    }
}