page-help {
    .c-help {
        background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
        height: 1920px;
        overflow-y: scroll;
        &__container {
            width: 100%;
            height: 100vh;
            max-height: 98vh;
            &__tabs {
                width: 100%;
            height: 100vh;
            max-height: 98vh;

            &__list {
                &__content {

                }
            }
            }
            &__message {
                &__label {
                    font-size: 18px;
                    color: white;
                    text-align: start;
                }
                &__textarea {
                    width: 100%;
                    textarea {
                        border-radius: 10px;
                        border: 0px;
                        width: 100%;
                        margin: 0 auto;
                        padding: 5px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.error-message {
    font-size: 15px;
    color: red;
}
ion-toolbar {
    background-color: teal !important;
}
.ic-item {
display: flex;
flex-direction: column;
width: 100%;
padding: 10px;
margin: 20px 0px;
border-radius: 10px;
background-color: white;
}
.ic-item-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1px;
    margin: 3px 0px;
}
.ic-item-block-date {
   color: dodgerblue;
   font-size: 15px;
   padding: 0;
   margin: 0;
}
.ic-item-block-label {
    color: black;
    font-size: 15px;
    padding: 0;
    margin: 0;
 }
 .ic-item-block-active {
    color: green;
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    margin: 0;
 }
 .ic-item-block-inactive {
    color: red;
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    margin: 0;
 }