<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>Solicitudes de ayuda</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="swicthSelect">
            <ion-segment-button value="solicitudes">
                Solicitudes
            </ion-segment-button>
            <ion-segment-button value="nueva">
                Nueva solicitud
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="c-help" padding>
    <div class="c-help__container">
        <div class="c-help__container__tabs" [ngSwitch]="swicthSelect" scrollY="true">
                <div  class="c-help__container__tabs__list" *ngSwitchCase="'solicitudes'">
                    <filters-header [selectLabel]="'Filtrar por estado'" [list]="true" [items]="filterItems" [refresh]="true" (onRefresh)="refresh($event)" (onSelect)="selectFilter($event)"></filters-header>
                    <div class="c-help__container__tabs__list__content" *ngIf="tickets">
                        <div class="c-help__container__tabs__list__content__item ic-item" *ngFor="let ticket of tickets" (click)="navigateToDetail(ticket)">
                            <div class="ic-item-block">
                                <p class="ic-item-block-active" *ngIf="!ticket.closed">
                                    activo
                                </p>
                                <p class="ic-item-block-inactive" *ngIf="ticket.closed">
                                    cerrado
                                </p>
                               
                            </div>
                            <div  class="ic-item-block">
                                <p class="ic-item-block-label">
                                    Referencia: {{ticket.ticketReference}}
                                </p>
                            </div>
                            <div  class="ic-item-block">
                                <p class="ic-item-block-label">
                                    Para: {{ticket.target}}
                                </p>
                                <p class="ic-item-block-label">
                                    Motivo: {{ticket.reason}}
                                </p>
                            </div>
                            <div  class="ic-item-block">
                                <p class="ic-item-block-date">
                                    Fecha alta: {{ticket.createdAt | date: 'dd/MM/yyyy HH:mm'}}
                                </p>
                            </div>
                            <div  class="ic-item-block">
                                <p class="ic-item-block-date">
                                    Ultima actualización: {{ticket.updatedAt | date: 'dd/MM/yyyy HH:mm'}}
                                </p>
                            </div>
                           
                        </div>
                    </div>
                    <no-data *ngIf="!tickets"></no-data>
                </div>
                <div class="c-help__container__tabs__new" *ngSwitchCase="'nueva'">
                    <div class="c-help__container__fill">
                        <p class="text-w">
                            Destinatario
                        </p>
                        <ion-item class="c-select">
                            <ion-label>Selecciona el destinatario</ion-label>
                            <ion-select [(ngModel)]="selectedTarget" interface="action-sheet">
                                <ion-option [value]="target" *ngFor="let target of targets">{{target}}</ion-option>
                            </ion-select>
                        </ion-item>
                        <p class="text-w" *ngIf="selectedTarget">
                            Motivo
                        </p>
                        <ion-item class="c-select" *ngIf="selectedTarget">
                            <ion-label>Selecciona un motivo</ion-label>
                            <ion-select [(ngModel)]="selectedType" interface="action-sheet">
                                <ion-option [value]="reason" *ngFor="let reason of reasons">{{reason}}</ion-option>
                            </ion-select>
                        </ion-item>
                        <div class="c-help__container__message" *ngIf="selectedType && selectedTarget">
                            <p class="c-help__container__message__label"> Mensaje </p>
                            <div class="c-help__container__message__textarea">
                                <textarea [(ngModel)]="message" name="text" id="" cols="40" rows="10"> </textarea>
                            </div>
                        </div>
                        <p *ngIf="selectedType && selectedTarget && showError" class="error-message">Motivo y mensaje requerido</p>
                        <div class="c-informacion__block" *ngIf="selectedType && selectedTarget && message && message.length > 0">
                            <button class="c-informacion__button" ion-button icon-left (click)="openHelpTicket()">
                            <ion-icon name="send"></ion-icon>
                            Enviar
                          </button>
                        </div>
                    </div>
                </div>
        </div>
      
    </div>
</ion-content>