<div class="c-filters-header">
    <div class="c-filters-header__container" (click)="triggerRefresh()">
        <div class="c-filters-header__container__element" *ngIf="list">
            <ion-item class="c-select">
                <ion-label>{{selectLabel}}</ion-label>
                <ion-select [(ngModel)]="selectedItem" (ionChange)="triggerSelect($event)" interface="action-sheet">
                    <ion-option [value]="item" *ngFor="let item of items">{{item}}</ion-option>
                </ion-select>
            </ion-item>
        </div>
        <div class="c-filters-header__container__element float-right2" [class.float-right3]="!list" *ngIf="refresh">
            <img class="iconrefresh" [src]="refreshIcon" (click)="triggerRefresh()"/>
        </div>
        <div class="c-filters-header__container__element float-right3" *ngIf="list">
            <img class="iconclear" [src]="clearIcon" (click)="triggerClear()"/>
        </div>
    </div>
</div>