.c-filters-header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        min-width: 95vw;
        width: calc(100% - 5px);
        height: 50px;
        padding: 5px;
        border-radius: 5px;
        background-color: white;

        &__element {
            display: flex;
            position: relative;

            ion-item {
                width: calc(100% - 30px);
            }
        }
    }
}
.txt-refresh {
    font-size: 15px;
    color: teal;
}
.float-left2 {
    position: absolute;
    left: 5px;
}
.float-right2 {
    position: absolute;
    right: 60px;
}
.float-right3 {
    position: absolute;
    right: 15px;
}
.c-select {
    justify-content: center;
    margin: 0;
}
.iconrefresh {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 10px;
}
.iconclear {
    width: 36px;
    height: 36px;
    border-radius: 20px;
    margin: 10px;
}