.c-sidemenu {
    &__container {
        background: linear-gradient(#283c86, #45a247);
    }
}

.menu-item {
    margin : 15px 0px;
    background: transparent;
}
ion-icon{
color: white;
}
#menu-item-text{
color:white;
}