<div class="c-sidemenu">
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Mi Comunidad</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="c-sidemenu__container">
      <ion-list>
        <button class="menu-item" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" item-left></ion-icon>
          <div id="menu-item-text">{{p.title}}</div>
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>