<div class="c-alert-modal">
    <div class="c-alert-modal__container animate__animated animate__slideInDown">
        <div class="c-alert-modal__container__main" 
        [class.success]="modalService.alert.success"
        [class.error]="!modalService.alert.success"
        >
                <p *ngIf="modalService.alert.success">Operación realizada con exito </p>
                <i class="fas fa-check-circle" *ngIf="modalService.alert.success"></i>

                <p *ngIf="!modalService.alert.success"> Error al realizar la operación </p>
                <i class="fas fa-exclamation-circle" *ngIf="!modalService.alert.success"></i>
        </div>
    </div>
</div>