.c-alert-modal {
    position: absolute;
    top: 45px;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    &__container {
        width: fit-content;
        padding: 30px;

        &__main {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            p {
                color: white;
                padding: 0;
                margin: 0;
            }

            i {
                color: white;
                margin: 0px 0px 0px 20px;
            }
        }
    }
}
.success {
    background-color: green;
}
.error {
    background-color: red;
}