<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Pago reserva del local</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="c-payment">
        <div class="c-payment__container__false" *ngIf="!unitPrice">
            <p>Faltán datos para poder proceder al pago, por favor compruebe su conexión internet y vuelva a intentar</p>
        </div>
        <ion-list *ngIf="unitPrice">
            <ion-item>
                <ion-label class="label-txt"> Total horas : {{countHours}} </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="label-txt"> Total a pagar : {{priceFinal}} € </ion-label>
            </ion-item>
            <ion-card *ngIf="!bool_card_saved" class="pay-card" padding>
                <ion-card-title class="pay-card-title">
                    Datos de la tarjeta
                </ion-card-title>
                <ion-item>
                    <ion-label color="primary" stacked>Numero Tarjeta</ion-label>
                    <ion-input class="pay-input" type="number" maxlength="16" [(ngModel)]="cardNumber"></ion-input>
                </ion-item>

                <div class="block-my">
                    <ion-item class="block-m">
                        <ion-label color="primary" stacked>Mes Caducidad</ion-label>
                        <ion-select [(ngModel)]="cardMonth">
                            <ion-option *ngFor="let month of months" [value]="month">{{month}}</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item class="block-y">
                        <ion-label color="primary" stacked>Año Caducidad</ion-label>
                        <ion-select [(ngModel)]="cardYear">
                            <ion-option *ngFor="let year of years" [value]="year.value">{{year.name}}</ion-option>
                        </ion-select>
                    </ion-item>
                </div>
                <ion-item>
                    <ion-label color="primary" stacked>CVV</ion-label>
                    <ion-input class="pay-input" type="number" maxlength="3" [(ngModel)]="cardCVV"></ion-input>
                </ion-item>

                <p *ngIf="datos_incorrectos" class="datos-error">Datos incorrectos</p>
            </ion-card>

            <ion-card *ngIf="bool_card_saved">
                <ion-card-title class="pay-card-title">
                    Datos de la tarjeta
                </ion-card-title>
                <div class="block-card-ln">
                    <p class="card-ln-label">Se usarán los datos de la tarjeta siguiente</p>
                    <p class="card-ln"> *********{{cardLastNumbers}}</p>
                </div>
                <button ion-button outline rounded (click)="deleteCard()">Borrar tarjeta</button>

            </ion-card>


        </ion-list>


        <!--   <ion-item *ngIf="!bool_card_saved">
            <ion-label class="save-cb">Guardar datos para proximo pago</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="bool_save_token" ></ion-checkbox>
        </ion-item>
       -->
        <button *ngIf="unitPrice" ion-button block large (click)="validateCard()">Pagar</button>
        <ion-item *ngIf="unitPrice">
            <p>Por favor contactar con su administrador <br> si necesita información sobre el precio/hora <br> de su comunidad</p>
        </ion-item>

    </div>

</ion-content>