.c-payment {
  &__container {
    &__false {
    border: 2px solid red;
    padding: 5px;
    text-align: center;
    margin: 5px;
    font-size: 1.4rem;
    }
  }
}

page-payment {
    overflow-y: scroll;
    .block-my{
        display: flex;
        flex-direction: row;
    }
    .form-row{
        padding: 10px;
      }
    
      .StripeElement {
        background-color: white;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
      }
    
      .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }
    
      .StripeElement--invalid {
        border-color: #fa755a;
      }
    
      .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
      }

      .pay-card{
          border-radius: 5px;
          border: 1px grey;

      }
      .pay-card-title{
          color:teal;
          font-weight: 600;
          text-align: center;

      }
      .label-txt{
          font-weight: 600;
          color:black;
      }
      .pay-input{
          background:lightgray;
          color: black;
          font-weight: 600;
          padding-left: 2px;
      }
      .datos-error{
          margin-left: 5px;
          color:red;
          font-weight: 600;
      }
      .save-cb{
          color: teal;
          font-size: 0.8em;
      }
      .block-card-ln{
         padding: 5px;
      }
      .card-ln{
        color: lightseagreen;
        font-size: 1.1em;
      }
      .card-ln-label{
        color: black;
        font-size: 1em;
      }

      .error-message{
          color:red;
      }
}
