<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<loading-modal [hidden]="!modalService.visibleLoadingModal"></loading-modal>
<alert-modal *ngIf="modalService.alert.visible"></alert-modal>