// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/* @media (max-width: 380px) {
    .ios ion-toolbar {
        padding-top: 40px;

        ion-title {
            padding-top: 35px;
        }
    }
}

.toolbar-ios {
    padding-top: env(safe-area-inset-top);
}

.ios.platform-mobile ion-menu.menu-enabled,
.ios.platform-mobile ion-menu.menu-enabled,
.ios.platform-mobile ion-modal.show-page {
    margin-top: constant(safe-area-inset-top); // for ios 11.1
    margin-top: env(safe-area-inset-top); // for ios 11.2 and onwards
    margin-bottom: env(safe-area-inset-bottom);
    height: calc(100% - constant(safe-area-inset-top));
    height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

ion-navbar.toolbar.toolbar-ios.statusbar-padding,
ion-navbar.toolbar-ios ion-title.title-ios,
ion-toolbar.toolbar.toolbar-ios.statusbar-padding,
ion-toolbar.toolbar-ios ion-title.title-ios {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
} */
.i-message-red {
    font-size: 12px;
    color: red;
    padding: 0;
    margin: 5px 0px;
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


.i-btn-ok {
    background-color: #074785 !important;
}

.i-btn-cancel {
    background-color: white !important;
    color: red !important;
    border: 1px solid red !important;
}

.i-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    padding: 5px 0px;

    button {
        max-width: 60vw;
        /* min-height: 40px; */
        text-align: center;
        font-size: 18px;
        padding: 10px;
        margin: 0px 20px;
        font-size: 18px;
        border-radius: 5px;
        color: white;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
}

.i-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;

    ion-label {
        padding: 0px 3px;
    }
}

.i-container-v {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0px;
}

.i-label {
    font-size: 15px;
    color: dodgerblue;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.i-value {
    font-size: 15px;
    color: black;
    font-weight: 500;
    padding: 0;
    margin: 3px 0px;
}

.i-line {
    width: 50%;
    height: 1px;
    background-color: lightgray;
    margin: 3px 2px;
}

.responsive-table {
    padding: 0;

    li {
        border-radius: 3px;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .table-header {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
        flex-basis: 10%;
    }

    .col-2 {
        flex-basis: 40%;
    }

    .col-3 {
        flex-basis: 25%;
    }

    .col-4 {
        flex-basis: 25%;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        .table-row {}

        li {
            display: block;
        }

        .col {

            flex-basis: 100%;

        }

        .col {
            display: flex;
            padding: 10px 0;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}

.i-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
}

.christmas-emojis {
    margin: 0px 5px;
}

ion-toolbar {
    background-color: teal !important;
}

.menu-item {
    margin: 15px 0px;
    background: transparent;
}

#sidemenu {
    background: linear-gradient(#283c86, #45a247);
}

ion-icon {
    color: white;
}

#menu-item-text {
    color: white;
}

/* ion-content{
background-color: white !important;
} */
.bg-style {
    background: teal;
}

body {
    background: transparent;
}