.c-incidencia {
    background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
    height: 1920px;

    &__active {
        &__filled {
            margin: 10px;

            &__list {
                max-height: 85vh;
                overflow-y: auto;
                padding: 10px;

                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: white;

                    &__fecha_estado {
                        display: flex;
                        align-items: column;
                        justify-content: space-between;
                        width: 100%;

                        p {
                            padding: 0;
                            margin: 3px;
                        }
                    }

                    &__label {
                        color: black;
                        padding: 0;
                        margin: 4px 0px;
                        width: 100%;
                    }

                    &__description {
                        color: black;
                        padding: 0;
                        margin: 5px 0px;
                        width: 100%;
                    }
                }
            }
        }

        &__empty {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            height: 400px;
            padding: 10px;

            img {
                width: 100px;
                height: 100px;
                border-radius: 20px;
                margin: 15px;
            }

            p {
                color: white;
                font-size: 20px;
            }
        }
    }

    &__inactive {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;

        img {
            height: 100px;
        }

        p {
            font-size: 1.6rem;
            text-align: center;
            color: black;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__card {
        margin: 15px;
        border-radius: 5px;
        box-shadow: 0px 2px 2px 2px teal;

        &__fecha_estado {
            display: flex;
            align-items: column;
            justify-content: space-between;
        }
    }

    scroll-content {
        margin-top: 40px !important;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        width: 80%;
        color: white;
        position: relative;
    }

    &__wallpaper {
        margin-top: -50px;
        position: absolute;
        width: 1080px;
        height: 1920px;
    }

    &__spinner {
        justify-content: center;
        border-radius: 15px;
        width: 80%;
    }

    &__button {
        border-radius: 15px;
        width: 80%;
        color: white;
        border: 1px solid white;
        background-color: teal;
    }

    &__description {
        width: 80%;
        border-radius: 10px;
        border: 0px;
        background: white;

        &__area {
            border-radius: 10px;
            border: 0px;
        }
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 5px;
    margin: 15px 0px;
    border-radius: 5px;
}

page-incidencia {
    p {
        color: #009688;
        font-size: 1em;
    }

    .profile-image-wrapper {
        text-align: center;
        margin: 20px;
        width: 96px;
        height: 96px;

        .profile-image {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            img {
                width: 96px;
                height: 96px;
            }

            .icon-add {
                margin: 39px;
            }
        }
    }

    textarea {
        width: 100%;
        height: 100px;
    }

    .fecha {
        color: #009688;
    }

    .pendiente {
        color: #e41111;
    }

    .solucionado {
        color: #1362e2;
        margin-left: 5px;
    }

    .progressing {
        color: green;
        margin-left: 5px;
    }

    .texto {
        color: #37474F;
    }

    h2 {
        color: #37474F;
    }

    ion-segment {
        width: 100%;
    }

    #content-nueva {
        height: 1920px;
    }

    #content-reciente {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .group-truncate {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .btn-truncate {
        width: 45%;
        font-size: 1.1em;
        color: teal;
        font-weight: 500;
        margin-top: 10px;
    }
}

.extra-margin {
    margin-top: 20px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Añadir imagen';
    display: inline-block;

    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 15px;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.hidden {
    visibility: hidden;
}