<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Incidencia</ion-title>
    <div
      class="christmas-emojis"
      *ngIf="comunidad && comunidad.christmasActive && userChristmasActive"
    >
      🎅
    </div>
  </ion-navbar>
  <ion-toolbar *ngIf="active">
    <ion-segment [(ngModel)]="list">
      <ion-segment-button value="reciente"> Recientes </ion-segment-button>
      <ion-segment-button value="nueva"> Añadir nueva </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="c-incidencia">
  <div class="c-incidencia__inactive" *ngIf="!active">
    <img [src]="infoIcon" />
    <p>
      La gestión de incidencias está inabilitada en tu comunidad, contacta con
      tu administrador/a para más información
    </p>
  </div>
  <div
    class="c-incidencia__active"
    [ngSwitch]="list"
    scrollY="true"
    *ngIf="active"
  >
    <br />

    <div class="c-incidencia__active__filled">
      <ion-list class="c-incidencia__list" *ngSwitchCase="'reciente'">
        <filters-header
          [selectLabel]="'Filtrar por estado'"
          [list]="true"
          [items]="filterItems"
          [refresh]="true"
          (onRefresh)="refresh($event)"
          (onSelect)="selectFilter($event)"
        ></filters-header>
        <div
          class="c-incidencia__active__empty"
          *ngIf="!Incidencias || Incidencias.length === 0"
        >
          <no-data></no-data>
        </div>
        <div
          class="c-incidencia__active__filled__list"
          id="content-reciente"
          *ngIf="Incidencias.length > 0"
        >
          <div
            class="c-incidencia__active__filled__list__item card"
            text-wrap
            *ngFor="let incidencia of Incidencias ; let i = index;"
          >
            <div class="c-incidencia__active__filled__list__item__fecha_estado">
              <p class="fecha" *ngIf="incidencia.create === 'hoy'">
                {{incidencia.created_at | date: 'dd/MM/yyyy HH:mm'}} [hoy]
              </p>
              <p class="fecha" *ngIf="incidencia.create === 'ayer'">
                {{incidencia.created_at | date: 'dd/MM/yyyy HH:mm'}} [ayer]
              </p>
              <p
                class="fecha"
                *ngIf="incidencia.create !== 'ayer' && incidencia.create !== 'hoy'"
              >
                {{incidencia.created_at | date: 'dd/MM/yyyy HH:mm'}}
              </p>
              <p class="pendiente" *ngIf="incidencia.state === 1">Pendiente</p>
              <p class="solucionado" *ngIf="incidencia.state === 2">
                Solucionado
              </p>
              <p class="progressing" *ngIf="incidencia.state === 3">
                En progreso
              </p>
            </div>

            <p
              class="c-incidencia__active__filled__list__item__label"
              *ngIf="incidencia.category"
            >
              <b>Categoria :</b> {{incidencia.category}}
            </p>
            <p
              class="c-incidencia__active__filled__list__item__label"
              *ngIf="incidencia.type"
            >
              <b>Tipo :</b> {{incidencia.type}}
            </p>

            <div
              class="c-incidencia__active__filled__list__item__description"
              *ngIf="incidencia.description"
            >
              <div
                class="group-truncate"
                *ngIf="incidencia.description.length <= limit"
              >
                {{incidencia.description}}
              </div>
              <div
                class="group-truncate"
                *ngIf="!incidencia.truncating && incidencia.description.length > limit"
              >
                {{incidencia.description | truncate }}
                <p class="btn-truncate" (click)="incidencia.truncating = true">
                  mostrar más...
                </p>
              </div>
              <div
                class="group-truncate"
                *ngIf="incidencia.truncating && incidencia.description.length > limit"
              >
                {{incidencia.description}}
                <p class="btn-truncate" (click)="incidencia.truncating = false">
                  ...mostrar menos
                </p>
              </div>
            </div>
          </div>
        </div>
      </ion-list>
    </div>

    <!-- NUEVA INCIDENCIA -->

    <ion-list *ngSwitchCase="'nueva'">
      <!-- BACKGROUND WALLPAPER -->
      <!--    <div class="c-incidencia__wallpaper">
        <img src="assets/imgs/inc_back.jpg">
      </div> -->
      <div id="content-nueva">
        <div class="c-incidencia__block">
          <p class="c-incidencia__label">Categoría de incidencia</p>
          <ion-item class="c-incidencia__spinner">
            <ion-label>Categoría</ion-label>
            <ion-select [(ngModel)]="categoriaType" interface="action-sheet">
              <ion-option
                *ngFor="let service of services"
                value="{{service.type}}"
                >{{service.type}}
              </ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="c-incidencia__block">
          <p class="c-incidencia__label">Tipo de incidencia</p>
          <ion-item class="c-incidencia__spinner">
            <ion-label>tipo</ion-label>
            <ion-select [(ngModel)]="tipo" interface="action-sheet">
              <ion-option value="Averia">Averia</ion-option>
              <ion-option value="Rotura">Rotura</ion-option>
              <ion-option value="Deterioro">Deterioro</ion-option>
              <ion-option value="Extravio">Extravio</ion-option>
              <ion-option value="Robo">Robo</ion-option>
              <ion-option value="Otro">Otro</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="c-incidencia__block">
          <p class="c-incidencia__label">Descripción</p>
          <div class="c-incidencia__description">
            <textarea
              class="c-incidencia__description__area"
              [(ngModel)]="description"
              name="text"
              id=""
            >
            </textarea>
          </div>
        </div>
        <div
          class="c-incidencia__block"
          *ngIf="incidenciaImage && incidenciaImage.url"
        >
          <div class="profile-image-wrapper">
            <div
              class="profile-image"
              *ngIf="incidenciaImage && incidenciaImage.url"
            >
              <img [src]="incidenciaImage.url" />
            </div>
          </div>
        </div>

        <div class="c-incidencia__block extra-margin">
          <input
            id="file"
            class="inputfile hidden"
            type="file"
            accept="image/*;capture=camera"
            (change)="onFileChange($event, i)"
          />
          <label class="custom-file-input" for="file"
            >Selecciona un archivo</label
          >
          <!--           <button
            class="c-incidencia__button"
            ion-button
            icon-left
            (tap)="presentActionSheet()"
            large
            full
            padding
          >
            <ion-icon name="camera"></ion-icon>
            Añadir imagen
          </button> -->
          <br />
          <button
            class="c-incidencia__button"
            (click)="checkFields()"
            ion-button
            icon-left
            large
            full
            padding
          >
            <ion-icon name="send"></ion-icon>
            Enviar
          </button>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
