.c-reservas {
    height: 1920px;
    &__active {
        margin-top: 120px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        height: 100vh;

        &__list {
            background: linear-gradient(to bottom, #008080b0 0%, #002525 100%) !important;

            &__card {
                background-color: white;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: darkgray;
                }

                &__content {
                    width: 100%;
                    display: flex;
                    align-items: center;

                    p {
                        width: 100%;
                        text-align: center;
                        color: teal;
                    }

                    ion-icon {
                        color: teal;
                    }
                }

            }
        }
    }
}