<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Reservas</ion-title>
    </ion-navbar>
  </ion-header>
<div class="c-reservas">
  <div class="c-reservas__container">
    <ion-content padding class="c-reservas__container__list">
      <div class="c-reservas__inactive" *ngIf="!active">
        <img [src]="infoIcon" />
        <p>La gestión de reservas está inabilitada en tu comunidad,
          contacta con tu administrador/a para más información </p>
      </div>
      <div class="c-reservas__active" [ngSwitch]="list" scrollY="true" *ngIf="active">
        <ion-card class="c-reservas__container__list__card" *ngFor="let feat of features" (click)="openPage(feat)">
          <ion-card-content class="c-reservas__container__list__card__content">
            <p>Reserva de {{feat}}</p>
            <ion-icon class="arrow" name="arrow-forward" item-end></ion-icon>
          </ion-card-content>
        </ion-card>
      </div>

    </ion-content>
  </div>
</div>