.c-padel {
    height: 100vh;

    &__container {
        height: 100vh;
        margin-top: 130px;

        &__selection {
            border: 1px solid teal;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__date {
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
            }

            &__btn {
                margin: 25px 10px;
                width: fit-content;
            }
        }
        &__empty {
            border: 1px solid grey;
            padding: 5px;
            margin: 5px;
            text-align: center;
            font-size: 1.5rem;
        }
        &__list {
            &__card {
                border: 1px solid teal;
            }
            &__row {
                &__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 5px 0px;

                    &__label {
                        font-size: 1.6rem!important;
                        color: black!important;
                        font-weight: 600;
                        margin-right: 10px;
                    }

                    &__value {
                            font-size: 1.6rem;
                            color: darkgray;
                            font-weight: 600;
                            margin-left: 10px;
                        }
                        &__btn {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    page-padel {


        ion-calendar {
            width: 100%;
        }

        ion-segment {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .hour-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .button-res {
            margin-top: 15%;
        }

        .btn-res-list {
            margin-top: 5%;
        }

        .text-no-res {
            color: teal;
        }

        .label-reserva {
            color: teal;
            display: flex;
            font-size: 1.8rem;
            justify-content: center;
            margin-bottom: 15px;
        }

        h1 {
            color: grey;
        }




    }

    .active {
        color: green!important;
    }
    .inactive {
        color: red!important;
    }
    .caducado {
        color: #821082!important;
    }