<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reserva de pista de Padel</ion-title>
  </ion-navbar>
  <ion-segment  (ionChange)="onTabsChange()" [(ngModel)]="list" padding>
    <ion-segment-button value="nueva-res">
      Nueva reserva
    </ion-segment-button>
    <ion-segment-button value="mis-res">
      Historico res.
    </ion-segment-button>
  </ion-segment>
</ion-header>
<div class="c-padel">
  <ion-content>
    <div class="c-padel__container">
      <div [ngSwitch]="list">
        <ion-list *ngSwitchCase="'nueva-res'">
          <ion-calendar [(ngModel)]="date" [options]="optionsRange" [type]="type" [format]="'YYYY-MM-DD'"
            (onChange)="onChange($event)">
          </ion-calendar>
          <div class="c-padel__container__selection" *ngIf="bool_hours" padding>
              <div class="c-padel__container__selection__date">
                  <p class="title-text"> Horas disponibles para el : {{date}} </p>
              </div>
          
            <ion-item>
              <ion-label>Horas</ion-label>
              <ion-select [(ngModel)]="hour_selected" multiple="true" interface="action-sheet">
                <ion-option *ngFor="let hour of hoursList" [value]="hour">{{hour}} h
                </ion-option>
              </ion-select>
            </ion-item>
            <button class="button-res c-padel__container__list__row__item__btn " 
            (click)="isReservable()" 
            ion-button
                padding>
              Reservar
            </button>
          </div>


        </ion-list>

        <ion-list *ngSwitchCase="'mis-res'" padding>
          <div *ngIf="bool_res_list">
            <ion-card class="c-padel__container__list__card" *ngFor="let reserva of reservationList; let index = index"
              padding>
              <p class="label-reserva">reserva pista padel</p>
              <div class="c-padel__container__list__row__item">
                <p class="c-padel__container__list__row__item__label">Fecha alta:</p>
                <p class="c-padel__container__list__row__item__value">{{reserva.createdAt | date: 'dd/MM/yyyy HH:mm'}}
                </p>
              </div>
              <div class="c-padel__container__list__row__item">
                <p class="c-padel__container__list__row__item__label">Fecha reserva:</p>
                <p class="c-padel__container__list__row__item__value">{{reserva.day | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="c-padel__container__list__row__item">
                <p class="c-padel__container__list__row__item__label">Franja horaria:</p>
                <p class="c-padel__container__list__row__item__value">{{reserva.rangeTime}}</p>
              </div>
              <div class="c-padel__container__list__row__item">
                <p class="c-padel__container__list__row__item__label">Estado:</p>
                <p class="c-padel__container__list__row__item__value" 
                [class.active]="reserva.active === true"
                  [class.inactive]="reserva.state === 'cancelado'"
                  [class.caducado]="reserva.state === 'caducado'"
                  >{{reserva.state}}</p>
              </div>
              <button 
              *ngIf="reserva.active"
              class="btn-res-list c-padel__container__list__row__item__btn" 
              (click)="anularReserva(index)"
                ion-button full padding>
                Cancelar
              </button>
            </ion-card>
          </div>
          <div class="c-padel__container__empty" *ngIf="!bool_res_list">
              <p >No se han encontrado reservas de padel.</p>
          </div>

        </ion-list>
      </div>

    </div>
  </ion-content>
</div>