<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi casa</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="c-micasa" padding>

  <div class="c-micasa__inactive" *ngIf="!active">
    <img [src]="infoIcon" />
    <p>La gestión de micasa está inabilitada en tu comunidad,
      contacta con tu administrador/a para más información </p>
  </div>
  <div class="c-micasa__active" [ngSwitch]="list" scrollY="true" *ngIf="active">
    <ion-list class="c-micasa__list">
      <ion-item class="c-micasa__list__item" (click)="openListado(item.type)"
        *ngFor="let item of itemList ; let index=index">
        <ion-avatar item-left>
          <img [src]="item.icon">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <ion-icon class="arrow" name="arrow-forward" item-end></ion-icon>
      </ion-item>
    </ion-list>

  </div>

</ion-content>