page-micasa {
    height: 1920px;
    ion-item {
        height: 100px;
    }

    h2 {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        color: teal;
    }

    .arrow {
        color: teal;
    }
}

.c-micasa {
    background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);

    &__active {}

    &__inactive {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        img {
            height: 100px;
        }

        p {
            font-size: 1.6rem;
            text-align: center;
            color: black;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__item {
            border-radius: 30px;
            margin: 15px auto;
            height: 80px;
            box-shadow: 0px 5px 5px 5px teal;
        }

    }

    &__item {
        border-radius: 15px;
        width: 80%;
    }

    &__label {
        width: 80%;
        color: white;
        position: relative;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        width: 80%;
        box-shadow: 0px 5px 5px 5px teal;
        margin-top: 40px;
    }

}