<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon id="navbar" name="menu"></ion-icon>
    </button>
        <ion-title>Teléfonos de interés</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="c-phone" padding>
    <div class="c-phone__inactive" *ngIf="!active">
        <img [src]="infoIcon" />
        <p>La gestión de telefonos está inabilitada en tu comunidad, contacta con tu administrador/a para más información </p>
    </div>
    <div class="c-phone__active" *ngIf="active">
        <div class="c-phone__list" id="content-phone" *ngIf="phones.length > 0">
            <p class="label">Servicios contratados</p>
            <ion-item class="c-phone__list__item" *ngFor="let phone of phones;let index=index;">
                <a class="item" href="tel: {{phone.number}}">
                    <!--       <p class="c-phone__list__item__index">{{index+1}}.</p> -->
                    <p class="c-phone__list__item__name"> {{phone.name}}</p>
                    <ion-icon class="c-phone__list__item__icon" name="call" end></ion-icon>
                </a>
            </ion-item>
        </div>
        <div class="c-phone__empty" *ngIf="phones.length === 0">
            <img [src]="infoIcon" />
            <p>No se han encontrado servicios contratados en esta comunidad</p>
        </div>
    </div>


</ion-content>