.c-phone {
    height: 1920px;
    overflow-y: scroll;
    background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
    &__active {
        &__filled {
            margin-top: 80px;
            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &__empty {}
    }
    &__inactive {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        img {
            height: 100px;
        }
        p {
            font-size: 1.6rem;
            text-align: center;
            color: black;
        }
    }
    &__list {
        max-height: 85vh;
        overflow-y: auto;
        padding: 10px;
        &__item {
            padding: 10px;
            margin: 10px 5px;
            border-radius: 15px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                ion-icon {
                    position: absolute;
                    right: 0;
                }
            }
            &__name {
                color: teal !important;
                font-size: 1.6rem !important;
            }
            &__icon {
                padding: 3px;
            }
        }
    }
    &__empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            height: 100px;
        }
        p {
            text-align: center;
        }
    }
    &__item {
        border-radius: 20px;
        padding: 10px;
    }
}

page-telefonos {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow-y: scroll;
    #content-phone {
        height: 1920px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    h2 {
        margin-left: 8%;
    }
    .label {
        color: white;
    }
    ion-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
    }
    ion-item {
        font-size: 1em;
        width: 70%;
        display: flex;
        flex-direction: row;
        background-color: teal;
        border-radius: 20px;
        margin: 10px auto;
        box-shadow: 0px 2px 2px 2px rgb(88, 146, 117);
    }
    #navbar {
        color: white;
    }
    ion-icon {
        color: teal;
    }
    .label {
        text-align: center;
    }
}