.c-data-error {
    width: 100%;
    height: 100%;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: 400px;
        width: 100%;
        padding: 10px;
        color: white;
        img {
            width: 100px;
            height: 100px;
            border-radius: 20px;
            padding: 5px;
            margin: 15px;
        }
    }
}