page-registro {
    ion-slide {
        height: 100vh;
        overflow-y: scroll;
    }
    .container {
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #607D8B), color-stop(100%, #CFD8DC));
        background: -webkit-linear-gradient(top, #607D8B 0%, #90A4AE 100%);
        ion-list {
            ion-item {
                margin-top: 30px;
            }
            margin-top: 20px;
        }
        .floating-box {
            display: inline-block;
            height: 100px;
            margin: 10px;
        }
    }
    p {
        color: #fff;
        font-size: 1.2em;
        margin-bottom: 30px;
    }
    ion-select {
        color: #009688;
    }
    ion-option {
        color: #009688;
    }
    .itemClass {
        margin: 45px 0px 20px 0px;
    }
    chalet-container {
        height: 200px;
    }
    #resume {
        display: flex;
        flex-direction: column;
    }
    #resume-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #resume-item-label {
        width: 28%;
        text-align: left;
        font-size: 12px;
        font-weight: 400;
    }
    #resume-item-text {
        width: 62%;
        text-align: left;
        font-size: 1.6rem;
        font-weight: 600;
        color: #009688;
    }
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn-submit-houseslide {
    margin-top: 30px;
}
.form-content {
        max-height: 80vh;
        overflow-y: auto;
        width: 85vw;
        max-width: 400px;
}
.form-item {
    margin-top: 20px;
}

.input {
    color: #009688;
}

.text-terms {
    font-size: 1.2rem;
    text-align: start;
    padding: 0px 20px;
    font-style: bold;
    font-weight: 700;
}

.terms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    ion-label {
        padding: 5px;
        margin: 5px;
        white-space: normal !important;
        max-width: none !important;
        width: 100%;
        font-size: 1.2rem;
        text-align: start;
        font-weight: 700;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:  5px 0px;
}

.ic-card {
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px teal;
    margin: 15px !important;
    width: 100%;
    margin-top: 10px !important;
}
.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slide-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 90%;
    padding: 10px;
    min-height: 120px;
    border-radius: 10px;
    img {
        width: 75px;
        height: 75px;
        border-radius: 20px;
        padding: 5px;
    }
    h1 {
        font-size: 18px;
        font-weight: 500;
        color: teal;
    }
    p {
        font-size: 15px;
        font-weight: 500;
        color: grey;
        padding: 0;
        margin: 0;
    }
}