<ion-header no-shadow> </ion-header>

<ion-toolbar>
  <ion-title>Registro</ion-title>
</ion-toolbar>

<ion-content>
  <ion-slides
    #signupSlider
    pager="true"
    (ionSlideWillChange)="onSlideChangeStart($event)"
  >
    <ion-slide class="container" padding>
      <ion-list>
        <!-- CHALET SIDE -->

        <div class="chalet-container" *ngIf="chalet_state">
          <div class="form-container">
            <form class="form-content" [formGroup]="formChaletInfos">
              <p>Dirreción completa del domicilio</p>
              <ion-item class="form-item">
                <ion-label floating>Dirección</ion-label>
                <ion-input formControlName="address" type="text"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container
                  *ngFor="let validation of validationMessages.chaletAddress"
                >
                  <p
                    style="display: block; float: none; width: 100%; color: red"
                    class="error-message"
                    *ngIf="formChaletInfos.get('address').hasError(validation.type) 
                    && (formChaletInfos.get('address').dirty || formChaletInfos.get('address').touched)"
                  >
                    <ion-icon name="information-circle-outline"></ion-icon> {{
                    validation.message }}
                  </p>
                </ng-container>
              </div>
              <button
                class="btn-submit-houseslide"
                ion-button
                icon-end
                large
                [disabled]="!formChaletInfos.valid"
                (click)="nextSlide()"
              >
                Siguiente
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </form>
          </div>
        </div>

        <!-- RESIDENCE SIDE -->
        <div *ngIf="!chalet_state">
          <div class="form-container">
            <form class="form-content" [formGroup]="formHouseInfos">
              <div class="slide-content">
                <div class="slide-header">
                  <img [src]="slide1Icon" />
                  <h1>DIRECCIÓN</h1>
                  <p>Rellena los datos de dirección</p>
                </div>
              </div>
              <!-- ITEM PORTAL -->
              <ion-item>
                <ion-label>Portal</ion-label>
                <ion-select formControlName="portal" interface="action-sheet">
                  <ion-option
                    *ngFor="let portal of PortalsJSON"
                    value="{{portal.adress}}"
                    >{{portal.adress}}
                  </ion-option>
                </ion-select>
              </ion-item>
              <div class="validation-errors">
                <ng-container
                  *ngFor="let validation of validationMessages.portal"
                >
                  <p
                    style="display: block; float: none; width: 100%; color: red"
                    class="error-message"
                    *ngIf="formHouseInfos.get('portal').hasError(validation.type) 
                        && (formHouseInfos.get('portal').dirty || formHouseInfos.get('portal').touched)"
                  >
                    <ion-icon name="information-circle-outline"></ion-icon> {{
                    validation.message }}
                  </p>
                </ng-container>
              </div>
              <!-- ITEM PLANTA -->
              <ion-item>
                <ion-label>Planta</ion-label>
                <ion-select formControlName="planta" interface="action-sheet">
                  <ion-option *ngFor="let planta of plantaList" [value]="planta"
                    >{{planta}}
                  </ion-option>
                </ion-select>
              </ion-item>
              <div class="validation-errors">
                <ng-container
                  *ngFor="let validation of validationMessages.planta"
                >
                  <p
                    style="display: block; float: none; width: 100%; color: red"
                    class="error-message"
                    *ngIf="formHouseInfos.get('planta').hasError(validation.type) 
                          && (formHouseInfos.get('planta').dirty || formHouseInfos.get('planta').touched)"
                  >
                    <ion-icon name="information-circle-outline"></ion-icon> {{
                    validation.message }}
                  </p>
                </ng-container>
              </div>

              <!-- ITEM PUERTA -->
              <ion-item>
                <ion-label>Puerta</ion-label>
                <ion-select formControlName="puerta" interface="action-sheet">
                  <ion-option *ngFor="let puerta of puertaList" [value]="puerta"
                    >{{puerta}}
                  </ion-option>
                </ion-select>
              </ion-item>
              <div class="validation-errors">
                <ng-container
                  *ngFor="let validation of validationMessages.puerta"
                >
                  <p
                    style="display: block; float: none; width: 100%; color: red"
                    class="error-message"
                    *ngIf="formHouseInfos.get('puerta').hasError(validation.type) 
                          && (formHouseInfos.get('puerta').dirty || formHouseInfos.get('puerta').touched)"
                  >
                    <ion-icon name="information-circle-outline"></ion-icon> {{
                    validation.message }}
                  </p>
                </ng-container>
              </div>

              <button
                class="btn-submit-houseslide"
                ion-button
                icon-end
                large
                [disabled]="!formHouseInfos.valid"
                (click)="nextSlide()"
              >
                Siguiente
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </form>
          </div>
        </div>
      </ion-list>
    </ion-slide>

    <!-- USER INFOS SLIDE -->
    <ion-slide class="container" padding>
      <div class="form-container">
        <form class="form-content" [formGroup]="formUserInfos">
          <div class="slide-content">
            <div class="slide-header">
              <img [src]="slide2Icon" />
              <h1>DATOS DE CONTACTO</h1>
              <p>Rellena los datos de contacto</p>
            </div>
          </div>
          <!-- ITEM NAME -->
          <ion-item class="form-item">
            <ion-label floating>Nombre</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.name">
              <p
                style="display: block; float: none; width: 100%; color: red"
                class="error-message"
                *ngIf="formUserInfos.get('name').hasError(validation.type) 
                      && (formUserInfos.get('name').dirty || formUserInfos.get('name').touched)"
              >
                <ion-icon name="information-circle-outline"></ion-icon> {{
                validation.message }}
              </p>
            </ng-container>
          </div>
          <!-- ITEM SURNAME -->
          <ion-item class="form-item">
            <ion-label floating>Apellidos</ion-label>
            <ion-input formControlName="surname" type="text"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.surname">
              <p
                style="display: block; float: none; width: 100%; color: red"
                class="error-message"
                *ngIf="formUserInfos.get('surname').hasError(validation.type) 
                        && (formUserInfos.get('surname').dirty || formUserInfos.get('surname').touched)"
              >
                <ion-icon name="information-circle-outline"></ion-icon> {{
                validation.message }}
              </p>
            </ng-container>
          </div>

          <!-- ITEM EMAIL -->
          <ion-item class="form-item">
            <ion-label floating>Email</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
              <p
                style="display: block; float: none; width: 100%; color: red"
                class="error-message"
                *ngIf="formUserInfos.get('email').hasError(validation.type) 
                        && (formUserInfos.get('email').dirty || formUserInfos.get('email').touched)"
              >
                <ion-icon name="information-circle-outline"></ion-icon> {{
                validation.message }}
              </p>
            </ng-container>
          </div>

          <!-- ITEM PHONE -->
          <ion-item class="form-item">
            <ion-label floating>Telefono</ion-label>
            <ion-input formControlName="phone" type="number"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.phone">
              <p
                style="display: block; float: none; width: 100%; color: red"
                class="error-message"
                *ngIf="formUserInfos.get('phone').hasError(validation.type) 
                        && (formUserInfos.get('phone').dirty || formUserInfos.get('phone').touched)"
              >
                <ion-icon name="information-circle-outline"></ion-icon> {{
                validation.message }}
              </p>
            </ng-container>
          </div>

          <div class="terms-container">
            <ion-checkbox
              color="primary"
              formControlName="terms"
            ></ion-checkbox>
            <ion-label class="text-terms" class="ion-text-wrap">
              He leído, entiendo y acepto las
              <a href="https://www.icomunity.com/#/legal">condiciones de uso</a>
              y la
              <a href="https://www.icomunity.com/#/legal">
                politica de privacidad</a
              >
              de ICOMUNITY.
            </ion-label>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.terms">
              <p
                style="display: block; float: none; width: 100%; color: red"
                class="error-message"
                *ngIf="formUserInfos.get('terms').hasError(validation.type) 
                            && (formUserInfos.get('terms').dirty || formUserInfos.get('terms').touched)"
              >
                <ion-icon name="information-circle-outline"></ion-icon> {{
                validation.message }}
              </p>
            </ng-container>
          </div>
          <button
            class="btn-submit-houseslide"
            ion-button
            icon-end
            large
            [disabled]="!formUserInfos.valid"
            (click)="nextSlide()"
          >
            Siguiente
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </form>
      </div>
    </ion-slide>

    <ion-slide
      class="container"
      scroll
      *ngIf="formHouseInfos && formUserInfos"
      padding
    >
      <br />
      <div class="form-container">
        <div class="form-content">
          <div class="slide-content">
            <div class="slide-header">
              <img [src]="slide3Icon" />
              <h1>VERIFICAR DATOS</h1>
              <p>Vefifica los datos introducidos</p>
            </div>
          </div>
          <div class="card-container">
            <ion-card class="ic-card">
              <ion-card-content>
                <div id="resume">
                  <div id="resume-item">
                    <p id="resume-item-label">NOMBRE:</p>
                    <p id="resume-item-text">{{formUserInfos.value.name}}</p>
                  </div>
                  <div id="resume-item">
                    <p id="resume-item-label">APELLIDOS:</p>
                    <p id="resume-item-text">{{formUserInfos.value.surname}}</p>
                  </div>

                  <div id="resume-item">
                    <p id="resume-item-label">EMAIL:</p>
                    <p id="resume-item-text">{{formUserInfos.value.email}}</p>
                  </div>
                  <div id="resume-item">
                    <p id="resume-item-label">TELEFONO:</p>
                    <p id="resume-item-text">{{formUserInfos.value.phone}}</p>
                  </div>
                  <!-- NOT CHALET -->
                  <div id="resume-item" *ngIf="!chalet_state">
                    <p id="resume-item-label">DIRECCIÓN:</p>
                    <p id="resume-item-text">
                      {{formHouseInfos.value.portal}}
                      {{formHouseInfos.value.planta}}
                      {{formHouseInfos.value.puerta}}
                    </p>
                  </div>

                  <!-- CHALET -->
                  <div id="resume-item" *ngIf="chalet_state">
                    <p id="resume-item-label">DOMICILIO:</p>
                    <p id="resume-item-text">
                      {{formChaletInfos.value.address}}
                    </p>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </div>

          <div class="floating-box">
            <button ion-button icon-end (click)="modificar()">
              Modificar datos
            </button>
            <button
              ion-button
              icon-end
              [disabled]=" !((this.formUserInfos.valid && this.formHouseInfos.valid) 
                 || (this.formUserInfos.valid && this.formChaletInfos.valid))"
              (click)="finalizar()"
            >
              Finalizar
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
