<!-- <ion-header>
    <ion-navbar>
      
      <ion-title>Icomunity</ion-title>
    </ion-navbar>
  </ion-header>
   -->
<components-header></components-header>
<components-footer></components-footer>
<ion-content class="content c-codigo">
  <ion-scroll scrollY="true" style="width: 100%; height: 100%;">

    <ion-list class="c-codigo__container" padding>
      <ion-card class="c-codigo__container__login">
        <ion-card-content>
          <ion-card-title>
            <p class="blue-txt" > ¿ YA TIENES UNA CUENTA ? <br> HAZ LOGIN CON TU EMAIL</p>
          </ion-card-title>
          <div  class="blue-bg linea-blue">
          </div>
          <button class="btnLogin blue-bg" ion-button full  (click)="openLogin()">Hacer login</button>
        </ion-card-content>
      </ion-card> 
      <ion-card class="c-codigo__container__codigo">
        <ion-card-content>
          <ion-card-title>
            <p class="teal-txt">¿ NO TIENES CUENTA ? <br> INTRODUZCA EL CODIGO DE TU COMUNIDAD PARA REGISTRARTE </p>
          </ion-card-title>
          <div id="codigo-box">
            <ion-input type="text" [(ngModel)]="codigo" placeholder="Codigo...">
            </ion-input>
          </div>
          <div class="linea">

          </div>
          <!-- 
              <div class="qrcode-block"> 
                  <p id="qr-text">Leer QR-CODE para entrar en su Comunidad</p>
                <img (click)="openScan()" class="qrcode-img" src="assets/imgs/qrcode.png" >
               </div> -->

          <button class="button" ion-button full  (click)="verifyCodigo()">Nuevo usuario</button>

        </ion-card-content>
        <!--  <img src="assets/gif/casita.gif"/>  -->
      </ion-card>
    

    </ion-list>
  </ion-scroll>

</ion-content>