.c-codigo {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__login {
            margin-top: 20px;
        }
    }
}

page-codigo {
    background-color: white;
    ;
    .button {
        margin-top: 20px;
    }
    ion-item {
        margin: 15px;
    }
    ion-content {
        .scroll-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    ion-app.cameraView {
        background-size: 100% 100% !important;
        /* To show image border */
        background-image: transparent !important;
    }
    #title {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }
    #label {
        color: grey;
    }
    #codigo-box {
        margin-top: 10px;
        background-color: rgb(148, 219, 219);
        height: 40px;
        padding-left: 15px;
        text-align: left;
        color: grey;
        border-radius: 20px;
        font-size: 1em;
        font-weight: 500;
    }
    ion-card {
        background: grey;
    }
    .qrcode-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
    .qrcode-img {
        width: 120px;
        height: 120px;
        margin-top: 10px;
    }
    #qr-text {
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;
    }
    .linea {
        background-color: teal;
        height: 2px;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .linea-blue {
        background-color: #114e8e;
        height: 2px;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    /*
    .placeholer-parent {
        position: relative;
        background: teal;
        .placeholder {
         
          position: absolute;
          bottom: 3px;
          color: rgba(255, 255, 255, 0.64);
          font-size: 15px;
          left: 38px;
        }
        input:focus + .placeholder,
        input.ng-not-empty + .placeholder{
          display: none
        }
      }
    */
}

.blue-bg {
    background-color: #114e8e;
}

.teal-txt {
    color: teal !important;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.blue-txt {
    color: #114e8e !important;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}