page-payment-resume {
    .c-payment-resume {
        background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
        height: 1920px;
        overflow-y: scroll;

        &__container {}
    }
}

ion-title {
    text-align: center;
}

.payment-iframe {
    width: 100%;
    height: calc(100vh - 200px);
}