<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resumen de compra</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="c-payment-resume" padding>
  <div class="c-payment-resume__container" *ngIf="!paymentProcessing">
    <div class="i-card" *ngIf="!payment">
      <no-data
        [text]="'No se puede realizar el pago de momento, por favor vuelve a probarlo más tarde'"
      ></no-data>
    </div>
    <div class="i-card" *ngIf="payment">
      <div class="i-container-v">
        <p class="i-label">Producto</p>
        <div class="i-line"></div>
        <p class="i-value">{{payment.product}}</p>
      </div>

      <div class="i-container-v">
        <p class="i-label">Detalle</p>
        <div class="i-line"></div>
        <p class="i-value">{{payment.detail}}</p>
      </div>

      <div class="i-container-v">
        <p class="i-label">Precio</p>
        <div class="i-line"></div>
        <p class="i-value">{{formatAmountDecimal(payment.amount)}}€</p>
      </div>

      <div class="i-container">
        <ion-checkbox color="primary" [(ngModel)]="terms"></ion-checkbox>
        <ion-label class="text-terms" class="ion-text-wrap">
          He leído y acepto las
          <a href="https://www.icomunity.com/#/legal">condiciones de uso</a>
          y la
          <a href="https://www.icomunity.com/#/legal">
            politica de privacidad</a
          >
          de ICOMUNITY.
        </ion-label>
      </div>
    </div>
    <div class="i-btns-container">
      <button
        *ngIf="payment"
        class="i-btn-ok"
        [disabled]="!payment || !terms"
        (click)="pay()"
      >
        Realizar pago
      </button>
      <button class="i-btn-cancel">Cancelar</button>
    </div>
  </div>
  <!-- STRIPE CHECKOUT IFRAME -->
  <div class="payment-iframe" *ngIf="paymentProcessing">
    <!--     <a
      href="#"
      onclick="window.open(sessionURL,
     '_system', 'location=yes'); return false;"
      >Pay with stripe</a
    >
    <p>Please wait...</p> -->
    <iframe
      class="payment-iframe"
      *ngIf="paymentProcessing"
      [src]="paymentUrl | safe"
    ></iframe>
  </div>
  <div class="i-btns-container">
    <button
      class="i-btn-cancel"
      (click)="requestCancelPayment()"
      *ngIf="paymentProcessing"
    >
      Cancelar pago
    </button>
  </div>
</ion-content>

<!-- <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-2">Remitente</div>
      <div class="col col-2">Dirección</div>
    </li>
    <li class="table-row">
      <div class="col col-2">
        <p class="c-book__container__item__value ic-item-value-xl" *ngIf="data.username">{{ data.username }}</p>
        <p class="c-book__container__item__value ic-item-value-xl" *ngIf="data.name">{{ data.name }}</p>
      </div>
      <div class="col col-2">
        <p class="c-book__container__item__value ic-item-value-xl" *ngIf="data.useraddress">{{ data.useraddress }}</p>
        <p class="c-book__container__item__value ic-item-value-xl" *ngIf="data.adress">{{ data.adress }}</p>
      </div>
    </li>
  </ul> -->
