<!--
  Generated template for the PaymentErrorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>payment-error</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>PAYMENT ERROR</p>
</ion-content>
