<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Documentos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="c-document" padding>
    <div class="c-document__container">

        <div class="c-document__container__fill" *ngIf="filesTypes && filesTypes.length > 0">
            <p class="text-w">
                Tipo de documentos
            </p>
            <ion-item class="c-select">
                <ion-label>Selecciona un tipo</ion-label>
                <ion-select [(ngModel)]="selectedType" interface="action-sheet" (ionChange)="onSelectType($event)">
                    <ion-option [value]="type" *ngFor="let type of filesTypes">{{type}}</ion-option>
                </ion-select>
            </ion-item>
            <div class="c-document__container__empty" *ngIf="selectedType && (!documents || documents.length === 0)" (click)="refresh()">
                <img [src]="nodataIcon" />
                <p class="text-w">
                    No hay documentos disponible <br/> Haz click para refrescar
                </p>
            </div>
            <div class="line" *ngIf="documents && documents.length > 0">

            </div>
            <p class="text-wc" *ngIf="documents && documents.length > 0">
                {{selectedType}} - total: {{documents.length}}
            </p>
            <div class="c-document__container__fill__list" *ngIf="documents && documents.length > 0">

                <div>
                    <div class="c-document__container__fill__list__item card" *ngFor="let doc of documents">
                        <div class="item-hb">
                            <p class="doc-ext">{{doc.fileExt}}</p>
                            <p class="doc-date">{{doc.createdAt | date: 'dd/MM/yyyy HH:mm'}}</p>
                        </div>
                        <div class="item-hc">
                            <p class="doc-name">{{doc.name}}</p>
                        </div>
                        <div class="doc-btn">
                            <a [href]="doc.publicUrlPath ? doc.publicUrlPath : ''" target="_blank">
                                <button>
                                Ver documento
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ion-content>