page-documento {
    .c-document {
        background: linear-gradient(to bottom, #008080b0 0%, #002525 100%);
        height: 1920px;
        overflow-y: scroll;
        &__container {
            width: 100%;
            height: 100vh;
            max-height: 98vh;
            overflow-y: auto;
            &__empty {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                height: 400px;
                padding: 10px;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 20px;
                    margin: 15px;
                }
            }
            &__fill {
                &__list {
                    max-height: 73vh;
                    overflow-y: auto;
                    padding: 5px;
                    &__item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background-color: white;
                    }
                }
            }
        }
    }
}

.text-w {
    color: white;
    font-size: 20px;
    padding: 0;
    margin: 5px 0px;
}

.text-wc {
    color: white;
    font-size: 20px;
    padding: 0;
    margin: 5px 0px;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 5px;
    margin: 15px 0px;
    border-radius: 5px;
}

.item-hb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item-hb>p {
    padding: 5px 3px;
    margin: 0;
}

.item-hc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 5px 0px;
}

.c-select {
    justify-content: center;
    border-radius: 15px;
    width: 95%;
    margin: 15px 0px;
}

.doc-name {
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-align: center;
}

.doc-ext {
    font-size: 15px;
    font-weight: 400;
    color: teal;
    text-align: center;
    border-radius: 5px;
    border: 1px solid teal;
    padding: 3px;
}

.doc-date {
    font-size: 15px;
    font-weight: 400;
    color: dodgerblue;
    text-align: center;
}

.doc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.doc-btn button {
    font-size: 20px;
    padding: 10px;
    background-color: #008080c4;
    color: white;
}