.c-footer {
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 20;
    &__container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color:  #009688;
        &__text {
            font-size: 1.2rem;
            font-weight: 600;
            color: white;
        }
    }
}