<div class="c-payment slideInUp" padding>
  <div class="c-payment__container">
    <div class="i-card" *ngIf="!payment">
      <no-data
        [text]="'No se puede realizar el pago de momento, por favor vuelve a probarlo más tarde'"
      ></no-data>
    </div>
    <div class="c-payment__container__header">
      <h3 class="h-title" *ngIf="!paymentProcessing">Resumen de compra</h3>
      <h3 class="h-title" *ngIf="paymentProcessing">Procesando pago...</h3>
    </div>
    <div class="c-payment__container__content" *ngIf="!paymentProcessing">
      <div class="i-card" *ngIf="payment">
        <div class="i-container-v">
          <p class="i-label">Producto</p>
          <div class="i-line"></div>
          <p class="i-value">{{payment.product}}</p>
        </div>

        <div class="i-container-v">
          <p class="i-label">Detalle</p>
          <div class="i-line"></div>
          <p class="i-value">{{payment.detail}}</p>
        </div>

        <div class="i-container-v">
          <p class="i-label">Precio</p>
          <div class="i-line"></div>
          <p class="i-value">{{formatAmountDecimal(payment.amount)}}€</p>
        </div>

        <div class="i-container">
          <ion-checkbox color="primary" [(ngModel)]="terms"></ion-checkbox>
          <ion-label class="text-terms" class="ion-text-wrap">
            He leído y acepto las
            <a href="https://www.icomunity.com/#/legal">condiciones de uso</a>
            y la
            <a href="https://www.icomunity.com/#/legal">
              politica de privacidad</a
            >
            de ICOMUNITY.
          </ion-label>
        </div>
      </div>
      <div class="i-btns-container">
        <button
          *ngIf="payment"
          class="i-btn-ok"
          [disabled]="!payment || !terms"
          (click)="pay()"
        >
          Realizar pago
        </button>
        <button class="i-btn-cancel" (click)="onResult(false)">Cancelar</button>
      </div>
    </div>
    <!-- STRIPE CHECKOUT IFRAME -->
    <div class="payment-iframe" *ngIf="paymentProcessing">
      <iframe
        class="payment-iframe"
        *ngIf="paymentProcessing"
        [src]="paymentUrl | safe"
      ></iframe>
      <div class="i-btns-container">
        <button
          class="i-btn-cancel"
          (click)="requestCancelPayment()"
          *ngIf="paymentProcessing"
        >
          Cancelar pago
        </button>
      </div>
    </div>
  </div>
</div>
