.c-payment {
    height: calc(100vh - 100px);
    background-color: #156859c9;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 1000;
    align-items: center;
    padding: 5px !important;
    width: 100%;
    max-width: 500px;

    &__container {
        width: 98%;
        max-width: 500px;
        margin: 10px 0px;
        height: 100%;
        border-radius: 5px;
        background-color: white;
        overflow-y: auto;

        &__header {
            margin: 20px 0px;

        }

        &__content {}
    }
}

ion-title {
    text-align: center;
}

.payment-iframe {
    width: 100%;
    height: calc(100vh - 200px);
    overflow-y: auto;
    margin-bottom: 50px;
}

.h-title {
    text-align: center;
    border: 1px solid grey;
    padding: 2px;
    margin: 0px 10px;
}